/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
.work-div:nth-of-type(1){

    > div{
        aspect-ratio: 1024 / 1448;
        width: 100%;

        > img{
            aspect-ratio: 1024 / 1448;
        }
    }
}



#aukeama-container{
    grid-column: 1 / 9;
    position: relative;
    width: 100%;
    max-width: calc(1400px - 2rem);
    margin: 0 auto;
}

.carousel{
    aspect-ratio: 1635 / 1024;
}

.carousel-button.prev{
    cursor: url(../../../assets/cursors/left-cursor.svg) 32 32, pointer;
}

.carousel-button.next{
    cursor: url(../../../assets/cursors/right-cursor.svg) 32 32, pointer;
}

#varjo-container{
    position: absolute;
    inset: 0;
    aspect-ratio: auto 1635 / 1024;
    width: 100%;

    & img{
        position: absolute;
        inset: 0;
        width: 117.1875%;
        mix-blend-mode: multiply;
        pointer-events: none;
    }
}