/* CONTENT */
#first > img{
    aspect-ratio: 1024 / 1448;
    max-height: calc(100vh - 6rem);
    width: auto;
    max-width: 100%;
}

#aukeama-container{
    grid-column: 1 / 9;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
}

.carousel{
    position: relative;
    width: 100%;
    aspect-ratio: auto 1635 / 1024;
    z-index: 1;
}

.carousel > ul{
    inset: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
}

.slide[data-active]{
    opacity: 1;
    pointer-events: all;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;

    width: 30%;
    height: 100%;

    padding: 0;
}

.carousel-button.prev{
    left: 0;
    cursor: url(https://maxmain.io/assets/support/cursors/left-cursor.svg) 32 32, pointer;
}

.carousel-button.next{
    right: 0;
    cursor: url(https://maxmain.io/assets/support/cursors/right-cursor.svg) 32 32, pointer;
}

#aukeama-container h1{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 2rem;
}

#varjo-container{
    position: absolute;
    inset: 0;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    aspect-ratio: auto 1635 / 1024;
}

.aukeama-varjo{
    position: absolute;
    inset: 0;
    width: 117.1875%;
    mix-blend-mode: multiply;
    pointer-events: none;
}