/* IMPORTS  --------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "T-Star-Pro";
    src: url('../assets/content/fonts/Menlo-Regular.woff2') format('woff2'),
        url('../assets/contents/fonts/Menlo-Regular.woff') format('woff'),
        url('../assets/contents/fonts/Menlo-Regular.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}









/* HTML ------------------------------------------------------------------------------------------------------------------------- */
html, body {
  max-width: 100%;
  overflow-x: clip;
}

@supports not (overflow-x: clip) {
  html, body {
    overflow-x: hidden;
  }
}

:root{
    --td-panel-color:#2B2C2C;
    --td-panel-color-alt:#cbcbcc;
    --td-bg-color: #1D1D1E;
    --td-light-color: #272729;
    --td-border-color: rgba(255, 255, 255, 0.25);

    --td-top-color: #594F7C;
    --td-top-text-color: #959BCE;

    --td-chop-color: #5e8446;
    --td-chop-text-color: #8eb874;

    --td-sop-color: #45739f;
    --td-sop-text-color: #98bbde;

    --td-pop-color: #3c3c95;
    --td-pop-text-color: #38388e;

    --td-dat-color: #885275;
    --td-dat-text-color: #a77094;
    --td-dat-text-alt: #8e7094;

    --td-readable-color: #bfbf4d;
}

*, *::before, *::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}









/* TYPE ------------------------------------------------------------------------------------------------------------------------- */
ol{
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.5px;

    margin-top: 0.5rem;
    max-width: 60ch;
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
}

ul{
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.5px;

    margin-top: 0.5rem;
    max-width: 60ch;
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;

    list-style: none;

    & > li > *:first-child::before {
        content: "\2014";
        margin: 0 -0.1rem 0 -1rem;
    }
}

li::marker{
    text-align: left !important;
}









/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
article{
    gap: calc(12.5vh - 3rem) 1rem;
}

#first.bento{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 1rem;
    align-content: flex-start;
    width: 150%;
}

.sub-bento{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 1rem;
    align-content: flex-start;
    width: 100%;
}

#hidden-divider{
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    height: 1rem;
}

hr{
    border: none;
    border-top: 3px double var(--type-color);
    color: var(--type-color);
    overflow: visible;
    text-align: center;

    -ms-grid-column: 1;

    -ms-grid-column-span: 8;

    grid-column: 1 / 9;
    height: 1rem;
    width: 100%;
    max-width: calc(var(--in-width) - 3rem);
    
    &::after{
        background: #fff;
        content: 'ยง';
        padding: 0 0.2rem;
        position: relative;
        top: -0.55rem;
    }
}

section.documentation{
    min-height: 50vh;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    padding: 3rem 0;
}

.docuinfo{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: sticky;
    top: 6rem;
    max-width: calc((var(--in-width) / 2) - 1.5rem);
    margin: 0 0 0 auto;

    & > h2{
        margin-top: 0;
    }

    & > h3{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.3rem;
        letter-spacing: 0.75px;
    }
}



h4{
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

p + h4{
    margin-top: 1.5rem;
}

h5{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

p + h5{
    margin-top: 0.75rem;
}

math.outline{
    margin: 0.5rem 0;
}

.maths + h5{
    margin-top: 1.5rem;
}

h5 + p{
    margin-top: 0;
}



.maths{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.5rem;
}

.maths + p{
    margin-top: 1.5rem;
}

.docuviz{
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;

    & > .comp-display{
        margin-bottom: 1.5rem;

        &.double{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 1rem;
        }
    }

    & hr{
        height: 1px;
        border-top: 1px solid #999;
        margin: 0.75rem auto 0.75rem 0;
        max-width: 50ch;

        &::after{
            background: none;
            content: none;
            padding: none;
            position: none;
            top: 0;
        }
    }

}

.top-text{
    padding: 0.2rem 0.1rem 0 0.15rem;
    background-color: var(--td-top-text-color);
}

.chop-text{
    padding: 0.2rem 0.1rem 0 0.15rem;
    background-color: var(--td-chop-text-color);
}

.sop-text{
    padding: 0.2rem 0.1rem 0 0.15rem;
    background-color: var(--td-sop-text-color);
}

.pop-text{
    color: var(--anti-type);
    padding: 0.2rem 0.1rem 0 0.15rem;
    background-color: var(--td-pop-text-color);
}

.date-text{
    padding: 0.2rem 0.1rem 0 0.15rem;
    background-color: var(--td-readable-color);
}

.soon{
    color: var(--anti-type) !important;
}









/* TD COMPONENT ----------------------------------------------------------------------------------------------------------------- */
.td-comp{
    height: 14.25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.1));

    &.small{aspect-ratio: 202 / 164;}
    &.medium{aspect-ratio: 384 / 164;}
    &.large{aspect-ratio: 422 / 164;}

    &.theme-dark{
        --td-panel: var(--td-panel-color);
        --td-border: var(--td-bg-color);
        --td-bg: var(--td-bg-color);
    }

    &.theme-light{
        --td-panel: var(--td-panel-color-alt);
        --td-border: var(--td-panel-color-alt);
        --td-bg: #FFFFFF;
    }

    &:hover{
        background-color: rgba(0, 0, 0, 0);
    }
}




.td-row{
    height: 10px;
    background: var(--td-panel-color);

    border-style: solid;
    border-width: 1px;
    border-color: var(--td-border-color);
}



.td-body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 39px);
}

.td-side{
    width: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    & .td-filler{
        width: 100%;
        height: 100%;

        border-width: 1px;
        border-color: var(--td-border-color);
        background-color: var(--td-panel);
    }

    & .td-spacer{
        height: 5px;
        width: 100%;
    }



    & .td-color{
        height: 12px;
        width: 100%;

        border-width: 1px;
        border-color: var(--td-border-color);
    }

    & .td-color:first-of-type{
        height: 18px;
        width: 100%;
    }

    & .td-color:last-of-type{
        height: 18px;
        width: 100%;
    }



    &.top{--td-color: var(--td-top-color);}
    &.chop{--td-color: var(--td-chop-color);}
    &.sop{--td-color: var(--td-sop-color);}
    &.pop{--td-color: var(--td-pop-color);}



    &.input{
        & .td-filler{border-style: none none none solid;}

        & .td-color{
            background-color: var(--td-color);
            border-style: solid none solid solid;
        }

        & .td-color:first-of-type{border-style: none none solid solid;}
        & .td-color:last-of-type{border-style: solid none none solid;}
    }

    &.output{
        & .td-filler{border-style: none solid none none;}

        & .td-color{
            background-color: var(--td-color);
            border-style: solid solid solid none;
        }

        & .td-color:first-of-type{border-style: none solid solid none;}
        & .td-color:last-of-type{border-style: solid solid none none;}
    }
}



.td-color{
    &.top{background-color: var(--td-top-color) !important;}
    &.chop{background-color: var(--td-chop-color) !important;}
    &.sop{background-color: var(--td-sop-color) !important;}
    &.pop{background-color: var(--td-pop-color) !important;}
}



.td-flag-col{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    border-width: 1px;
    border-color: var(--td-border-color);
    border-style: none solid none solid;

    background-color: var(--td-panel-color);



    & > img {
        height: 24px;
        width: 24px;
        
        border-style: none none solid none;
        border-width: 1px;
        border-color: var(--td-border-color);
    }
}

.td-viewer{
    height: 100%;
    width: 100%;

    padding: 5px 8px;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    border-width: 1px;
    border-color: var(--td-border-color);
    border-style: none solid none none;

    background-color: var(--td-bg-color);

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        border-width: 2px;
        border-color: var(--td-border);
        border-style: solid;
    }
}

.td-viewer-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;

    & > img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        -o-object-fit: contain;
           object-fit: contain;
        background-size: contain;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        display: block;
    }
}



.td-hairline{
    height: 1px;
    background-color: var(--td-panel-color);
}



.td-footer{
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--td-panel-color);
}

.td-title{
    width: 100%;
    
    border-style: outset;
    border-width: 1px;
    border-color: var(--td-border-color);

    & > p{
        font-family: T-Star-Pro;
        font-style: normal;
        font-size: 12px;
        margin: auto 0 0 4px;
        max-width: auto;
        color: rgba(255, 255, 255, 0.75);
    }
}

.td-active{
    width: 18px;

    border-style: outset;
    border-width: 1px;
    border-color: var(--td-border-color);

    & > img{
        height: 100%;
    }
}









/* OTHER    --------------------------------------------------------------------------------------------------------------------- */
.laplacian-kernel{
    width: 30%;
    margin: 1rem 0;
}









/* CHEAT SHEET  ----------------------------------------------------------------------------------------------------------------- */
.notation-category{
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    padding: 3rem 0 4rem 0;

    & > h3{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.3rem;
        letter-spacing: 0.75px;
        
        margin-bottom: -1rem;
    }
}

.notation-entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: -1rem;
    padding-top: 2rem;
}

.notation-symbol {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.5px;
    margin: 0.5rem 0 0 0;
    
    width: 2rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.notation-description {
    text-align: left;

    & > math.outline{
        margin: 0.5rem 0;
    }

    & > math.underline{
        margin: 0 0 0.5rem 0;
    }
}

.notation-title {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.75px;

    margin: 0;
}