/* IMPORTS  --------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-Hv.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-Hv.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-Hv.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-HvIt.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-HvIt.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-HvIt.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-Md.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-MdIt.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-MdIt.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-MdIt.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-It.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-It.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-LtIt.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-LtIt.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-LtIt.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}









/* HTML ------------------------------------------------------------------------------------------------------------------------- */
:root{
    --type-color:#333;
    --green: #00ff00;

    --shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

    --mid-width: 2560px;
    --in-width: 1400px;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    font-family: Helvetica-Neue;
    font-style: normal;
    color: var(--type-color);
}

::selection{
    background: var(--green);
}









/* NAV  ------------------------------------------------------------------------------------------------------------------------- */
header{
    position: fixed;
    inset: 0 0 auto 0;
    max-width: 100vw;
    z-index: 10;
    pointer-events: none;

    &.with-splash{
        position: absolute;
        top: 100vh;
    }
}

nav{
    max-width: var(--in-width);
    margin: 1rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;

    & h3{
        font-size: 1rem;
        line-height: 1rem;
        pointer-events: all;
    }
    
    .nav-logo{
        grid-column: 1 / 3;
        cursor: default;
    
        & > span{
            &:first-child{
                display: inline;
            }
    
            &:last-child{
                display: none;
            }
        }
    }
    
    .nav-work{
        grid-column: 7;
    }
    
    .nav-flex{
        grid-column: 8;
        display: flex;
        justify-content: space-between;
    }

    .current-page{
        color: rgba(51, 51, 51, 0.25);
        cursor: default;
    }
}









/* FADER    --------------------------------------------------------------------------------------------------------------------- */
.fader{
    position: fixed;
    height: 300vh;
    width: 100vw;
    z-index: 9;

    inset: 0 0 auto 0;
    background: linear-gradient(rgba(255,255,255,0) 33%, rgba(255,255,255,1) 66%);
    transform: translateY(0);

    pointer-events: none;
    transition: 0.5s ease-in-out;

    &.motion{
        transform: translateY(-200vh);
        pointer-events: all;
    }
}









/* BLURRY LOAD  ----------------------------------------------------------------------------------------------------------------- */
.blur-load{
    background-size: cover;
    background-position: center;
    
    /* opacity: 0;
    transition: opacity 200ms ease-in-out;

    &.loaded{
        opacity: 1;
    } */
}









/* MAIN ------------------------------------------------------------------------------------------------------------------------- */
a img {
    display: block;
    padding: 0;
    margin: 0;
}

.box-shadow{
    box-shadow: var(--shadow);
}

.drop-shadow{
    filter: drop-shadow(var(--shadow));
}









/* CAROUSEL --------------------------------------------------------------------------------------------------------------------- */
.carousel{
    position: relative;
    width: 100%;
    overflow: hidden;

    & > ul{
        inset: 0;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;

    &[data-active]{
        opacity: 1;
        pointer-events: all;
    }

    & > img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.carousel-button{
    position: absolute;
    background: none;
    border: none;

    width: 30%;
    height: 100%;
    padding: 0;

    z-index: 2;

    &.prev{
        left: 0;
    }

    &.next{
        right: 0;
    }
}









/* TYPE ------------------------------------------------------------------------------------------------------------------------- */
h1{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

h2{
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

h3{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

p{
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.5px;

    margin: 0;
}

a{
    text-decoration: none;
    color: var(--type-color);
}

a:hover{
    background-color: var(--green);
    cursor: pointer;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

.hang-punctuation{
    text-indent: -0.33rem;
}



.lawn-title {
    background-color: var(--green);
}









/* FOOTER   --------------------------------------------------------------------------------------------------------------------- */
footer{
    height: 75vh;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    & section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    & h2{
        font-variant-ligatures: contextual;
        -moz-font-feature-settings: "calt";
        -webkit-font-feature-settings: "calt";
        font-feature-settings: "calt";
    }
}

#footer-nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    width: 100%;
    max-width: calc((var(--in-width) / 2) - 0.5rem);

    margin: 0 0 0 auto;
    padding: 1rem 0 1rem 1rem;
}

#footer-gradient{
    grid-column: 2 / 3;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(../../assets/footer/ice-bliss.webp);

    & h3{
        text-align: right;
    }
}

#footer-field{
    width: 100%;
    max-width: calc((var(--in-width) / 2) - 0.5rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 1rem 1rem 0;
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (width <= 1000px) {
    #footer-nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #footer-field{
        display: none;
    }
}



@media (width <= 900px) {
    nav{
        grid-template-columns: repeat(4, 1fr);
        
        .nav-logo{
            font-variant-ligatures: contextual;
            -moz-font-feature-settings: "calt";
            -webkit-font-feature-settings: "calt";
            font-feature-settings: "calt";
            
            & > span{
                &:first-child{
                    display: none;
                }
        
                &:last-child{
                    display: inline;
                }
            }
        }
        
        .nav-work{
            grid-column: 3;
        }
        
        .nav-flex{
            grid-column: 4;
        }
    
        .current-page{
            color: rgba(51, 51, 51, 0.25);
            cursor: default;
        }
    }
}



@media (width <= 800px) {
    #fader{
        display: none;
    }
}









@media print {
    :root{
        --shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    #fader, #splash, header, footer{
        display: none;
    }
}