.aukeama-container{
    position: relative;
    aspect-ratio: 1640 / 1024;
}

.work-img{
    mix-blend-mode: multiply;
}

.aukeama-shadow{
    position: absolute;
    inset: 0;
    width: 103.66%;
    mix-blend-mode: multiply;
    pointer-events: none;
}









/* Content */
.first{
    grid-column: 5 / 9;
}

.second{
    grid-column: 1 / 3;
}

.third{
    grid-column: 3 / 6;
}

.fourth{
    grid-column: 6 / 9;
}

.fifth{
    grid-column: 2 / 5;
}

.sixth{
    grid-column: 5 / 9;
}

.seventh{
    grid-column: 1 / 2;
}

.eighth{
    grid-column: 2 / 4;
}

.ninth{
    grid-column: 4 / 9;
}

.tenth{
    grid-column: 1 / 4;
}

.eleventh{
    grid-column: 4 / 8;
}

.twelfth{
    grid-column: 2 / 5;
}

.thirteenth{
    grid-column: 5 / 8;
}









/* Media Queries */
@media (max-width: 1200px) {
    .first{
        margin-bottom: 8rem;
    }
}

@media (max-width: 1000px) {
    .title-wrapper{
        grid-column: 1 / 5;
    }
}

@media (max-width: 880px) {
    .first{
        margin-bottom: 12rem;
    }
}

@media (max-width: 740px) {
    .first{
        margin-bottom: 16rem;
    }
}

@media (max-width: 685px) {
    .first{
        margin-bottom: 4rem;
    }
}