body{
    height: 100vh;
    width: 100vw;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

body:hover{
    cursor: pointer;
}

img{
    position: fixed;
    height: 100%;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

div{
    z-index: 1;
}

h1{
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
}

h2{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.75px;
}