/* IMPORTS  --------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-Hv.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-Hv.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-Hv.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../../assets/fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('../../assets/fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('../../assets/fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}









/* HTML ------------------------------------------------------------------------------------------------------------------------- */
:root{
    --type-color:#333;
    --green: #00ff00;

    --shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

    --mid-width: 2560px;
    --in-width: 1400px;
}

*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

::selection{
    background: var(--green);
}



body{
    height: 100vh;
    width: 100vw;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}









/* Type ------------------------------------------------------------------------------------------------------------------------- */
img{
    width: 28px;
    position: fixed;
    inset: 10px auto auto 10px;
}

h1{
    font-family: Helvetica-Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.75px;
    color: var(--type-color);
}

h2{
    font-family: Helvetica-Neue;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.75px;
    color: var(--type-color);
}

.title{
    position: absolute;
    top: auto;
    bottom: -14.4vh;

    & > h3{
        font-size: 50vh;
        line-height: 61vh;
        font-weight: 400;
    }
}

a{
    text-decoration: none;
    color: var(--type-color);
}

a:hover{
    background-color: var(--green);
    cursor: pointer;
}