/* IMPORTS */
@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-Hv.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-HvIt.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-Md.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-MdIt.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-LtIt.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}









/* HTML */
:root{
    --type-color:#333;
    --green: #00ff00;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

    font-family: Helvetica-Neue;
    font-style: normal;
    color: var(--type-color);
}









/* NAV */
header{
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 10;
    pointer-events: none;
}

.with-splash{
    position: absolute;
    top: 100vh;
}

nav{
    max-width: 1400px;
    margin: 1rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
}

.nav-active{
    color: rgba(51, 51, 51, 0.25);
    cursor: default;
}

#desktopLogo{
    display: block;
}

#mobileLogo{
    display: none;
}

.nav-logo{
    grid-column: 1 / 3;
    cursor: default;
}

.nav-work{
    grid-column: 7;
}

.nav-flex{
    grid-column: 8;
    display: flex;
    justify-content: space-between;
}

nav h1{
    pointer-events: all;
}









/* FADER */
.fader-in{
    position: fixed;
    height: 300vh;
    width: 100vw;
    z-index: 9;

    inset: 0 0 auto 0;
    background: linear-gradient(rgba(255,255,255,0) 33%, rgba(255,255,255,1) 66%);
    transform: translateY(0vh);

    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.fader-in.tulossa{
    transform: translateY(-200vh);
    pointer-events: all;
}

.fader-out{
    position: fixed;
    height: 300vh;
    width: 100vw;
    z-index: 9;

    inset: 0 0 auto 0;
    background: linear-gradient(rgba(255,255,255,0) 33%, rgba(255,255,255,1) 66%);
    transform: translateY(0);

    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.fader-out.menossa{
    transform: translateY(-200vh);
    pointer-events: all;
}









/* MAIN */
a img {
    display: block;
    padding: 0;
    margin: 0;
}

.shadow{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.drop-shadow{
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.1));
}









/* TYPE */
h1{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

/* .title-wrapper{
    position: absolute;
    inset: auto auto 0 0;
    margin: 0 1rem 1rem 1rem;
    pointer-events: all;
}

.title{
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
} */

h2{
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

h3{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

p{
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.5px;

    margin: 0;
}

/* .work-p{
    margin-top: 0.5rem;
    max-width: 60ch;
} */

a{
    text-decoration: none;
    color: var(--type-color);
}

a:hover{
    background-color: var(--green);
    cursor: pointer;
}

.non-active{
    pointer-events: all;
    cursor: not-allowed;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}









/* Media Queries */
@media (max-width: 1000px) {
    #desktopLogo{
        display: none;
    }

    #mobileLogo{
        display: block;
    }
}

@media (max-width: 900px) {
    nav{
        grid-template-columns: repeat(4, 1fr);
    }

    .nav-work{
        grid-column: 3;
    }

    .nav-flex{
        grid-column: 4;
    }
}