@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-Hv.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-HvIt.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-Md.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-MdIt.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url('../assets/fonts/HelveticaNeueLTStd-LtIt.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}









/* HTML */

:root{
    --type-color:#333;
    --green: #00ff00;
    --shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

    font-family: Helvetica-Neue;
    font-style: normal;
    color: var(--type-color);
}









/* Nav Bar */

header{
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 10;
    pointer-events: none;
}

.nav-container{
    max-width: 1400px;
    margin: 0 auto 0 auto;
}

.nav-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;

    margin: 1rem;
}

.nav-pointer{
    pointer-events: all;
}

.nav-flex{
    grid-column: 8 / 8;

    display: flex;
    justify-content: space-between;
}

.active{
    color: rgba(51, 51, 51, 0.25);
}









/* Main */
/* main{
    animation: transitionIn 0.5s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
    }
    top{
        opacity: 1;
    }
} */

.content{
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
}

.context{
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    inset: 0;
    pointer-events: none;
}

a img {
    padding: 0;
    margin: 0;
    display: block;
}

.shadow{
    box-shadow: var(--shadow);
}









/* Type */

h1{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

.title-wrapper{
    position: absolute;
    inset: auto auto 0 0;
    margin: 0 0 1rem 1rem;
    pointer-events: all;
}

.title{
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
}

h2{
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

h3{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.75px;

    margin: 0;
}

p{
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.5px;

    margin: 0;
}

.work-p{
    margin-top: 0.5rem;
    width: 60ch;
}

a{
    text-decoration: none;
    color: var(--type-color);
}

a:hover{
    background-color: var(--green);
}

.non-active{
    cursor: not-allowed;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}