/* CONTENT */
.work-div{
    mix-blend-mode: multiply;
}





.work-div:nth-child(2) img{
    aspect-ratio: 1024 / 1339;
}



.work-div:nth-child(3){
    grid-column: 1 / 6;
}

.work-div:nth-child(3) img{
    aspect-ratio: 1209 / 1024;
}



.work-div:nth-child(4){
    grid-column: 7 / 9;
}

.work-div:nth-child(4) img{
    aspect-ratio: 1024 / 1339;
}



.work-div:nth-child(5){
    grid-column: 1 / 4;
}

.work-div:nth-child(5) img{
    aspect-ratio: 1024 / 1605;
}



.work-div:nth-child(6){
    grid-column: 5 / 7;
}

.work-div:nth-child(6) img{
    aspect-ratio: 1024 / 1857;
}



.work-div:nth-child(7){
    grid-column: 8 / 9;
    margin-top: auto;
}

.work-div:nth-child(7) img{
    aspect-ratio: 1024 / 2031;
}



.work-div:nth-child(8){
    grid-column: 2 / 5;
}

.work-div:nth-child(8) img{
    aspect-ratio: 1024 / 1369;
}



.work-div:nth-child(9){
    grid-column: 6 / 8;
}

.work-div:nth-child(9) img{
    aspect-ratio: 1024 / 1271;
}



.work-div:nth-child(10){
    grid-column: 1 / 4;
    margin-top: auto;
}

.work-div:nth-child(10) img{
    aspect-ratio: 1335 / 1024;
}



.work-div:nth-child(11){
    grid-column: 5 / 8;
}

.work-div:nth-child(11) img{
    aspect-ratio: 1024 / 1515;
}



.work-div:nth-child(12){
    grid-column: 6 / 9;
}

.work-div:nth-child(12) img{
    aspect-ratio: 1357 / 1024;
}

