/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
.work-div{
    mix-blend-mode: multiply;

    &:nth-of-type(1){
        aspect-ratio: 1024 / 1339;

        & img{
            aspect-ratio: 1024 / 1339;
        }
    }



    &:nth-of-type(2){
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        grid-column: 1 / 6;

        & img{
            aspect-ratio: 1209 / 1024;
        }
    }

    &:nth-of-type(3){
        -ms-grid-column: 7;
        -ms-grid-column-span: 2;
        grid-column: 7 / 9;

        & img{
            aspect-ratio: 1024 / 1339;
        }
    }



    &:nth-of-type(4){
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4;

        & img{
            aspect-ratio: 1024 / 1605;
        }
    }

    &:nth-of-type(5){
        -ms-grid-column: 5;
        -ms-grid-column-span: 2;
        grid-column: 5 / 7;

        & img{
            aspect-ratio: 1024 / 1857;
        }
    }

    &:nth-of-type(6){
        -ms-grid-column: 8;
        grid-column: 8;
        margin-top: auto;

        & img{
            aspect-ratio: 1024 / 2031;
        }
    }



    &:nth-of-type(7){
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        grid-column: 2 / 5;

        & img{
            aspect-ratio: 1024 / 1369;
        }
    }

    &:nth-of-type(8){
        -ms-grid-column: 6;
        -ms-grid-column-span: 2;
        grid-column: 6 / 8;

        & img{
            aspect-ratio: 1024 / 1271;
        }
    }



    &:nth-of-type(9){
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4;
        margin-top: auto;

        & img{
            aspect-ratio: 1335 / 1024;
        }
    }

    &:nth-of-type(10){
        -ms-grid-column: 5;
        -ms-grid-column-span: 3;
        grid-column: 5 / 8;

        & img{
            aspect-ratio: 1024 / 1515;
        }
    }



    &:nth-of-type(11){
        -ms-grid-column: 6;
        -ms-grid-column-span: 3;
        grid-column: 6 / 9;

        & img{
            aspect-ratio: 1357 / 1024;
        }
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (width <= 1000px) {
    .work-div{
        &:nth-of-type(3){
            -ms-grid-column: 6;
            -ms-grid-column-span: 3;
            grid-column: 6 / 9;
        }

        &:nth-of-type(4){
            -ms-grid-column: 1;
            -ms-grid-column-span: 4;
            grid-column: 1 / 5;
        }
    
        &:nth-of-type(6){
            -ms-grid-column: 7;
            -ms-grid-column-span: 2;
            grid-column: 7 / 9;
            margin-top: auto;
        }

        &:nth-of-type(7){
            -ms-grid-column: 1;
            -ms-grid-column-span: 4;
            grid-column: 1 / 5;
        }
    
        &:nth-of-type(8){
            -ms-grid-column: 5;
            -ms-grid-column-span: 4;
            grid-column: 5 / 9;
        }

        &:nth-of-type(9){
            -ms-grid-column: 1;
            -ms-grid-column-span: 5;
            grid-column: 1 / 6;
        }
    
        &:nth-of-type(10){
            -ms-grid-column: 6;
            -ms-grid-column-span: 3;
            grid-column: 6 / 9;
        }

        &:nth-of-type(11){
            -ms-grid-column: 4;
            -ms-grid-column-span: 5;
            grid-column: 4 / 9;
        }
    }
}









@media print {
    .context-container{
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;
        grid-column: 1 / 8;
    }

    #first{
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
        grid-column: 1 / 9;
    }
}