/* CONTENT */
.ineffability{
    grid-column: 2 / 6;
}

.boilingpot{
    grid-column: 6 / 9;
}

.no-pants-allowed{
    grid-column: 1 / 3;
}

.important-to-the-people{
    grid-column: 4 / 7;
}

.shitty-music{
    grid-column: 2 / 5;
}

.attempt-omega{
    grid-column: 5 / 9;
}

.seductive-doom{
    grid-column: 1 / 3;
}

.best-of-weekly{
    grid-column: 3 / 7;
}









/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .ineffability{
        grid-column: 1 / 4;
    }

    .boilingpot{
        grid-column: 4 / 9;
    }

    .no-pants-allowed{
        grid-column: 1 / 6;
    }

    .important-to-the-people{
        grid-column: 6 / 9;
    }

    .shitty-music{
        grid-column: 1 / 3;
    }

    .attempt-omega{
        grid-column: 3 / 7;
    }

    .seductive-doom{
        grid-column: 7 / 9;
    }

    .best-of-weekly{
        grid-column: 1 / 6;
    }
}