/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
article{
    position: relative;
    width: 100%;
    max-width: var(--mid-width);
    margin: 0 auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1rem;
    row-gap: 4rem;
}

.leftoid{
    grid-column: 1 / 5;
}

.context{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    max-width: calc(var(--half-width) - 1.5rem);
    margin: 0 0 0 auto;
    padding-top: 3rem;
}

#first{
    margin-top: 3rem;
    grid-column: 5 / 9;
}

.work-div{
    width: 100%;
    z-index: 1;
}

img{
    display: block;
    width: 100%;
}









/* ZOOMABLE --------------------------------------------------------------------------------------------------------------------- */
.zoomable:hover{
    cursor: zoom-out;
}

.zoomable:active{
    cursor: zoom-in;
}



.focused{
    position: fixed;
    height: 100vh;
    width: auto;

    inset: 0;
    margin: 0 auto;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.focusedcontainer{
    z-index: 1000;
}









/* TYPE ------------------------------------------------------------------------------------------------------------------------- */
#title{
    font-weight: 600;
    font-size: 3rem;

    line-height: 4rem;
    margin: -0.5rem 0;
    position: fixed;

    overflow: visible;
}

#sub-title{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.75px;
    margin-top: 3rem;
}

main{
    & h2{
        font-weight: 600;
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 1rem;
    }

    & p{
        margin-top: 0.5rem;
        max-width: 60ch;
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (max-width: 685px) {
    article{
        display: block;
        position: relative;
    }

    .context{
        padding: 3rem 0 0 0;
        position: relative;
    }

    #title{
        position: static;
        width: auto;
    }

    #sub-title{
        margin-top: 0;
    }

    #content{
        display: block;
        padding-top: 4rem;
    }

    .work-div{
        margin-bottom: 4rem;
    }
}