/* CONTENT */
.work-div{
    mix-blend-mode: multiply;
}

.gimp{
    grid-column: 1 / 6;
}

.gardener{
    grid-column: 7 / 9;
}

.plane{
    grid-column: 1 / 4;
}

.mountain{
    grid-column: 5 / 7;
}

.waterfall{
    grid-column: 8 / 9;
    margin-top: auto;
}