/* IMPORTS  --------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "Hedera";
    src: url('../assets/content/fonts/Hedera-VF.woff2') format('woff2'),
        url('../assets/content/fonts/Hedera-VF.woff') format('woff'),
        url('../assets/content/fonts/Hedera-VF.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HederaGlyphs";
    src: url('../assets/content/fonts/Hedera-Glyphs.woff2') format('woff2'),
        url('../assets/content/fonts/Hedera-Glyphs.woff') format('woff'),
        url('../assets/content/fonts/Hedera-Glyphs.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}









/* HTML ------------------------------------------------------------------------------------------------------------------------- */
:root{
    --typeHeights: rgba(51, 51, 51, 0.25);
    --sampleSize: 10rem;
    --sampleHeight: 1.1;
    --sampleOffset: -100;
    --caltToggle: 1;
    --sampleColor: #333333;

    --showcaseOffset: -100;
    --showcaseColor: #333333;

    --sliderCursor: grab;
    --multiplier: 1.1;
    --overshoot: 0px;
}









/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
#first{
    height: fit-content;
}

#first > div{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: calc((var(--in-width) / 2) - 1.5rem);
    padding: 0 4rem;
}

.hero-flower-container{
    position: relative;
    width: 100%;
    aspect-ratio: 1024 / 1280;

    & > img{
        width: 100%;
        height: 100%;
    }

    & > div{
        position: absolute;
        width: calc(100% + 100px);
        height: calc(100% + 50px);
        inset: 0 auto auto -50px;
        background: linear-gradient(0deg, rgba(255,255,255,1) 50px, rgba(255,255,255,0) 50%);
        pointer-events: none;
    }
}

#hero-ivy{
    font-family: Hedera;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0px;
    font-variation-settings: "OFST" var(--sampleOffset);

    font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";

    position: absolute;
    inset: auto auto 0 0;
    width: 100%;
    margin: 0 0 5% 0;
    max-width: initial;
}









/* GLOBAL   --------------------------------------------------------------------------------------------------------------------- */
.interactive-container{
    max-width: calc(var(--in-width) - 2rem);
    margin: 1rem auto;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.75px;

    position: relative;
    z-index: 1;

    & p{
        margin: 0;
        white-space: nowrap;
        background-color: white;
    }
}



.download-container{
    max-width: calc(var(--in-width) - 2rem);
    margin: 1rem auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.75px;

    position: relative;
    z-index: 1;

    & > div{
        grid-column: 4;
    }

    & p{
        margin: 0;
        white-space: nowrap;
        background-color: white;

        & a{
            display: block;
        }
    }
}









/* TYPE PREVIEW ----------------------------------------------------------------------------------------------------------------- */
.preview-container{
    position: relative;
    grid-column: 1 / 9;
    margin: 0 auto;
}









/* Interactive Section */
#preview-interactive{
    & > div:nth-of-type(1){
        grid-column: 1 / 3;
    }
    
    & > div:nth-of-type(2){
        grid-column: 3 / 5;
    }

    & > div:nth-of-type(3){
        grid-column: 5 / 7;
    }

    & > div:nth-of-type(4){
        grid-column: 7;
    }
    
    & > div:nth-of-type(5){
        grid-column: 8;
    }
}



.slider-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slider{
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1px;
    background: var(--typeHeights);
    outline: none;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--green);
    cursor: var(--sliderCursor);
}

.slider::-moz-range-thumb{
    width: 1rem;
    height: 1rem;
    background: var(--green);
    cursor: var(--sliderCursor);
}



.check-container{
    height: 100%;

    & > label{
        display: flex;
        align-items: center;
        height: 100%;
        background-color: white;
        cursor: pointer;

        &:hover{
            background-color: var(--green);
        }
    }
}



input:hover{
    cursor: pointer;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked+label{
    background-color: var(--green);
}



input[type="color"] {
	border: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}









/* Preview Section */
.type-container{
    position: relative;
    width: 100%;
    height: fit-content;

    font-size: var(--sampleSize);
    line-height: var(--sampleHeight);
}

.sample-bg{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sample-anatomy{
    height: calc(var(--sampleSize) * var(--multiplier));
    position: relative;

    & > hr{
        margin: 0;
        width: 100%;
        position: absolute;

        &:nth-of-type(1){
            border-top: 1px solid var(--typeHeights);
            border-right: hidden;
            border-bottom: hidden;
            border-left: hidden;
            top: 0;
        }
    
        &:nth-of-type(2){
            border-top: 1px solid var(--typeHeights);
            border-right: hidden;
            border-bottom: hidden;
            border-left: hidden;
            top: 0.3em;
        }
    
        &:nth-of-type(3){
            border-top: hidden;
            border-right: hidden;
            border-left: hidden;
            border-bottom: 1px solid var(--typeHeights);
            bottom: 0.3em;
        }
    
        &:nth-of-type(4){
            border-top: hidden;
            border-right: hidden;
            border-left: hidden;
            border-bottom: 1px solid var(--typeHeights);
            bottom: 0;
        }
    }
}



.sample-container{
    width: 100%;
    max-width: var(--in-width);

    position: absolute;
    inset: var(--overshoot) 0 auto 0;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-sample{
    font-family: Hedera;
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0px;
    font-variation-settings: "OFST" var(--sampleOffset);
    color: var(--sampleColor);

    font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt" var(--caltToggle);
    -webkit-font-feature-settings: "calt" var(--caltToggle);
    font-feature-settings: "calt" var(--caltToggle);

    margin: 0;
    max-width: 100%;
}

.text-sample:focus{
    outline: none;
}









/* INTERMISSION ----------------------------------------------------------------------------------------------------------------- */
.work-div:nth-of-type(3){
    grid-column: 1 / 5;
    max-width: calc((var(--in-width) / 2) - 1.5rem);
    margin: 0 0 0 auto;

    & > h2{
        margin: 0;
    }
}









/* GLYPH SHOWCASE   ------------------------------------------------------------------------------------------------------------- */
.glyph-showcase-container{
    grid-column: 1 / 9;
    width: 100%;
    max-width: calc(var(--in-width) - 2rem);
    position: relative;
    margin: 0 auto;
}



#showcase-interactive{
    & > div:nth-of-type(1){
        grid-column: 1 / 5;
    }
    
    & > div:nth-of-type(2){
        grid-column: 5 / 8;
    }

    & > div:nth-of-type(3){
        grid-column: 8;
    }
}

input[type=text] {
    font-family: Helvetica-Neue;
    font-style: normal;
    color: var(--type-color);
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.5px;

    border: none;
    padding: 0;
    width: 100%;

    &:hover{
        background-color: var(--green);
    }

    &:focus{
        outline: none;
    }
}



.glyph-showcase{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(((var(--in-width) - 2rem) / 8) - (7rem / 8)), 1fr));
    justify-items: center;

    column-gap: 1rem;
    row-gap: 3rem;
}



.spotlight{
    width: calc(((var(--in-width) - 2rem) / 8) - (7rem / 8));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:nth-of-type(1) .showcased-glyph{
        font-feature-settings: 'cv01';
    }

    &:nth-of-type(2) .showcased-glyph{
        font-feature-settings: 'cv02';
    }

    &:nth-of-type(3) .showcased-glyph{
        font-feature-settings: 'cv03';
    }

    &:nth-of-type(4) .showcased-glyph{
        font-feature-settings: 'cv04';
    }

    &:nth-of-type(5) .showcased-glyph{
        font-feature-settings: 'cv05';
    }

    &:nth-of-type(6) .showcased-glyph{
        font-feature-settings: 'cv06';
    }

    &:nth-of-type(7) .showcased-glyph{
        font-feature-settings: 'cv07';
    }

    &:nth-of-type(8) .showcased-glyph{
        font-feature-settings: 'cv08';
    }

    &:nth-of-type(9) .showcased-glyph{
        font-feature-settings: 'cv09';
    }

    &:nth-of-type(10) .showcased-glyph{
        font-feature-settings: 'cv10';
    }

    &:nth-of-type(11) .showcased-glyph{
        font-feature-settings: 'cv11';
    }

    &:nth-of-type(12) .showcased-glyph{
        font-feature-settings: 'cv12';
    }

    &:nth-of-type(13) .showcased-glyph{
        font-feature-settings: 'cv13';
    }

    &:nth-of-type(14) .showcased-glyph{
        font-feature-settings: 'cv14';
    }

    &:nth-of-type(15) .showcased-glyph{
        font-feature-settings: 'cv15';
    }

    &:nth-of-type(16) .showcased-glyph{
        font-feature-settings: 'cv16';
    }

    &:nth-of-type(17) .showcased-glyph{
        font-feature-settings: 'cv17';
    }

    &:nth-of-type(18) .showcased-glyph{
        font-feature-settings: 'cv18';
    }

    &:nth-of-type(19) .showcased-glyph{
        font-feature-settings: 'cv19';
    }

    &:nth-of-type(20) .showcased-glyph{
        font-feature-settings: 'cv20';
    }

    &:nth-of-type(21) .showcased-glyph{
        font-feature-settings: 'cv21';
    }

    &:nth-of-type(22) .showcased-glyph{
        font-feature-settings: 'cv22';
    }

    &:nth-of-type(23) .showcased-glyph{
        font-feature-settings: 'cv23';
    }

    &:nth-of-type(24) .showcased-glyph{
        font-feature-settings: 'cv24';
    }
}

.invalid{
    display: none;
}



p.showcased-glyph{
    font-family: HederaGlyphs;
    font-weight: 400;
    font-size: 10rem;
    line-height: 11rem;
    letter-spacing: 0px;
    font-variation-settings: "OFST" var(--showcaseOffset);
    color: var(--showcaseColor);

    margin: 0;
    cursor: zoom-in;
}



.showcase-title{
    display: inline;
    margin: 0;
}




.focused-glyph{
    display: block;
    position: fixed;
    inset: 0;
    text-align: center;
    font-size: calc(100vh / 1.15) !important;
    line-height: 100vh !important;
    text-shadow: 0 0 100px white, 0 0 200px white, 0 0 300px white;
    z-index: 1000;
    cursor: zoom-out !important;
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (width < 1400px) {
    #first > div{
        padding: 0 9.47%;
    }
}



@media (width < 900px) {
    .interactive-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #preview-interactive{
        & > div:nth-of-type(1){
            grid-row: 1;
        }
        
        & > div:nth-of-type(2){
            grid-row: 1;
        }
    
        & > div:nth-of-type(3){
            grid-column: 1 / 3;
            grid-row: 2;
        }
    
        & > div:nth-of-type(4){
            grid-column: 3;
            grid-row: 2;
        }
        
        & > div:nth-of-type(5){
            grid-column: 4;
            grid-row: 2;
        }
    }



    #showcase-interactive{
        & > div:nth-of-type(1){
            grid-column: 1 / 5;
        }
        
        & > div:nth-of-type(2){
            grid-column: 1 / 4;
            grid-row: 2;
        }
    
        & > div:nth-of-type(3){
            grid-column: 4;
            grid-row: 2;
        }
    }

    .glyph-showcase{
        grid-template-columns: repeat(5, 1fr);
    }

    .spotlight{
        width: 100%;
    }

    p.showcased-glyph{
        font-size: 17.8vw;
        line-height: 17.8vw;
    }
        
        

    .download-container{
        grid-template-columns: repeat(2, 1fr);
    
        & > div{
            grid-column: 2;
        }
    }
}



@media (width < 685px) {
    #first > div{
        padding: 0 2rem;
    }

    .interactive-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #preview-interactive{
        & > div:nth-of-type(2){
            grid-column: 1 / 3;
            grid-row: 2;
        }
    
        & > div:nth-of-type(3){
            grid-row: 3;
        }
    
        & > div:nth-of-type(4){
            grid-column: 1;
            grid-row: 4;
        }
        
        & > div:nth-of-type(5){
            grid-column: 2;
            grid-row: 4;
        }
    }



    .glyph-showcase-container{
        display: none;
    }


    

    .download-container{
        grid-template-columns: repeat(1, 1fr);
    
        & > div{
            grid-column: 1;
        }
    }
}