/* MAIN */
article{
    max-width: var(--in-width);

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 3rem;

    margin: 3rem auto 0 auto;
    padding: 0 1rem;
}

.title-column{
    -ms-grid-column: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.title-column h2{
    position: sticky;
    position: -webkit-sticky;
    top: 3rem;
}

section{
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
}

p + h2{
    /* LARGE GAP */
    margin-top: 1.5rem;
}

address + h2, h2 + p, p + h3{
    /* MEDIUM GAP */
    margin-top: 0.75rem;
}

p + p{
    /* SMALL GAP */
    margin-top: 0.5rem;
}









/* PROFILE */
#profile-column{
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
}

.profile-div{
    position: sticky;
    position: -webkit-sticky;
    top: 3rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;

    width: auto;
    height: auto;
}









/* IMG CAROUSEL */
.carousel{
    aspect-ratio: auto 5 / 7;
}

.carousel-button.prev{
    cursor: w-resize;
}

.carousel-button.next{
    cursor: e-resize;
}









/* CONTACT SECTION */
#contact-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
}

address{
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.1rem;
    letter-spacing: 0.5px;

    margin: 0;
}









/* EXPERIENCE SECTION */
.xp-section{
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    padding-bottom: 1rem;
}

.xp-div{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 0.75rem;
}
.xp-div:last-child{
    margin-bottom: 2rem;
}

.xp-content{
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
}

.hide{
    display: none;
}

.xp-btn{
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;

    cursor: pointer;
}









footer{
    height: auto;
}









/* Media Queries */
@media (max-width: 1000px) {
    article{
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
    }

    #profile-column{
        -ms-grid-column: 4;
        grid-column: 4;
    }

    .xp-section{
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-column: 2 / 4;
    }

    .xp-div{
        display: block;
    }

    .hide{
        display: block;
    }

    .xp-btn{
        display: none;
    }

    footer{
        height: 75vw;
    }
}

@media (max-width: 800px) {
    #profile-column{
        display: none;
    }

    #contact-grid{
        display: block;
    }

    #contact-switch{
        margin-top: 0.75rem;
    }
}

@media (max-width: 685px) {
    section{
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        grid-column: 2 / 5;
    }

    .xp-section{
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        grid-column: 2 / 5;
    }
}









@media print {
    .title-column h2{
        position: relative;
        top: 0;
    }

    section{
        -ms-grid-column: 2;
        -ms-grid-column-span: 7;
        grid-column: 2 / 9;
        -webkit-column-break-inside: avoid;
           -moz-column-break-inside: avoid;
                break-inside: avoid;
    }

    #contact-switch{
        display: none;
    }

    .xp-section{
        -ms-grid-column: 2;
        -ms-grid-column-span: 7;
        grid-column: 2 / 9;
        -webkit-column-break-inside: auto;
           -moz-column-break-inside: auto;
                break-inside: auto;
    }

    .xp-div{
        -webkit-column-break-inside: avoid;
           -moz-column-break-inside: avoid;
                break-inside: avoid;
    }
}