/* Main */

.work-section{
    height: auto;
    width: 100%;
    position: absolute;
}

.in-container{
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 100;

    max-width: 1400px;
    height: 100vh;
    margin: 0 auto 0 auto;
}

.work-title{
    position: absolute;
    inset: auto auto 0 0;
    margin: 0 0 1rem 1rem;
    z-index: 100;
}

.out-container{
    position: relative;
    inset: auto;

    max-width: 2560px;
    height: 100%;
    margin: 0 auto 0 auto;
}










/* Show case */

.content-frame{
    position: sticky;
    top: calc(100vh - (1024px + 1rem));
    margin: 0 0 0 68.75%;
    width: 800px;
    height: 1024px;

    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

#v0{
    position: absolute;
    inset: 0;
    width: 800px;
    mix-blend-mode: darken;
}

#set-height{
    display: block;
}

#bg-img{
    width: 100%;
}









/* Type */

.title{
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    line-height: 3rem;
}

.work-p{
    margin-top: 0.5rem;
    width: 60ch;
}









/* Media Queries */

@media only screen and (max-width: 2560px) {
    .content-frame{
        margin: auto 0 0 calc(100vw - 800px);
    }
}

@media only screen and (max-height: 1040px) {
    .content-frame{
        inset: 0 0 0 auto;
        margin: 0 0 0 calc(100vw - (78vh - 1rem));
        height: calc(100vh - 1rem);
        width: auto;
    }

    #v0{
        height: calc(100vh - 1rem);
        width: auto;
    }

    #bg-img{
        height: calc(100vh - 1rem);
        width: auto;
    }
}

@media only screen and (max-width: 800px) {
    .content-frame{
        inset: 0 0 auto 0;
        margin: 0 0 auto 0;
        height: auto;
        width: 100%;
    }

    #v0{
        height: auto;
        width: 100%;
    }

    #bg-img{
        height: auto;
        width: 100%;
    }
}