/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
#first{
    mix-blend-mode: multiply;
}

.context > p:nth-last-of-type(1){
    margin-top: 0;
}

img{
    aspect-ratio: 1024 / 2048;

    &:last-of-type{
        aspect-ratio: 1024 / 169;
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media print {
    .context-container{
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;
        grid-column: 1 / 8;
    }

    .context br, .context p:nth-last-of-type(-n+3){
        display: none;
    }

    #first{
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-column: 1 / 5;
    }
}