/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
.context > p{
    &:nth-last-of-type(2){
        text-indent: -0.9rem;
    }

    &:nth-last-of-type(1){
        margin-top: 0;
    }
}

img{
    aspect-ratio: 1024 / 2048;

    &:last-of-type{
        aspect-ratio: 1024 / 169;
    }
}