/* CONTENT */
#second{
    grid-column: 2 / 4;
}

#third{
    grid-column: 4 / 7;
}









/* MEDIA QUERIES */
@media (max-width: 1000px) {
    #second{
        grid-column: 1 / 4;
    }

    #third{
        grid-column: 4 / 9;
    }
}