/* CONTENT */
.work-div{
    width: 100%;
}





/* .work-div:nth-child(2){
    grid-column: 5 / 9;
    max-height: calc(100vh - 3rem);

    display: flex;
    justify-content: start;
}

.work-div:nth-child(n) div{
    aspect-ratio: 683 / 1024;
    height: 100%;
}



.work-div:nth-child(3){
    grid-column: 1 / 5;
    max-height: calc(100vh - 3rem);

    display: flex;
    justify-content: end;
}

.work-div:nth-child(4){
    grid-column: 5 / 9;
    max-height: 80vh;

    display: flex;
    justify-content: start;
} */









/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .work-div:nth-child(n){
        max-height: none;
        display: block;
    }
}