/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
.context > p:nth-last-of-type(1){
    margin-top: 0;
}

#first{
    position: relative;
    width: 100%;
    height: 500vh;
    pointer-events: none;
    grid-column: 5 / 9;
}

.moss-container{
    position: sticky;
    position: -webkit-sticky;
    top: 3rem;

    aspect-ratio: 4 / 5;
    max-width: 100%;
    max-height: calc(100vh - 3rem);

    & img{
        aspect-ratio: 1000 / 1250;
        position: absolute;
    }
}

canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (width <= 685px) {
    article{
        height: 100%;
        position: relative;
        height: 5000px;
    }
}