.context{
    position: fixed;
}

.content{
    padding-bottom: 0;
}

/* Scroll video */
.content-container{
    grid-column: 5 / 9;
    position: sticky;
    top: 3rem;
    height: calc(100vh - 3rem);
}

.content-frame{
    position: absolute;
    inset: auto 0 0 auto;

    aspect-ratio: 800 / 1024;
    width: 50%;
    max-width: 800px;
}

#bg-img{
    width: 100%;
}

#v0{
    position: absolute;
    inset: 0;
    aspect-ratio: 800 / 1024;
    width: 100%;
    mix-blend-mode: darken;
}

#set-height{
    display: block;
}









/* Media Queries */
@media (max-width: 1000px) {
    .context{
        display: block;
        position: fixed;
    }

    .title{
        position: static;
    }

    .sub-title{
        margin-top: 0;
    }

    .content{
        display: block;
        padding-top: 3rem;
    }

    .content-frame{
        width: 50vh;
    }
}

@media (max-width: 685px) {
    .context{
        display: block;
        position: fixed;
    }

    .title{
        position: static;
    }

    .sub-title{
        margin-top: 0;
    }

    .content{
        display: block;
        padding-top: 3rem;
    }
}

@media (max-width: 530px) {
    .content-frame{
        width: 100%;
    }
}