/* Main */

.context{
    position: fixed;
}










/* Scroll video */
.content-container{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.content-frame{
    position: absolute;
    inset: auto 0 0 auto;

    aspect-ratio: 800 / 1024;
    width: 50%;
    max-width: 800px;
}

#bg-img{
    width: 100%;
}

#v0{
    position: absolute;
    inset: 0;
    aspect-ratio: 800 / 1024;
    width: 100%;
    mix-blend-mode: darken;
}

#set-height{
    display: block;
}









/* Media Queries */
@media only screen and (max-width: 991px) {
    .content-frame{
        inset: 0 0 auto 0;
        width: auto;
        height: 65vh;
    }
}