/* Main */

section{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.in-container{
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 100;

    max-width: 1400px;
    height: 100vh;
    margin: 0 auto 0 auto;
}

.work-title{
    position: absolute;
    inset: auto auto 0 0;
    margin: 0 0 1rem 1rem;
    z-index: 100;
}

.out-container{
    position: relative;
    inset: auto;

    max-width: 2560px;
    height: 100%;
    margin: 0 auto 0 auto;
}









/* Type */

.title{
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    line-height: 3rem;
}

.work-p{
    margin-top: 0.5rem;
    width: 60ch;
}