/* Content */
.first{
    grid-column: 5 / 9;
}

.second{
    grid-column: 1 / 2;
}

.third{
    grid-column: 2 / 5;
}

.fourth{
    grid-column: 6 / 8;
}

.fifth{
    grid-column: 2 / 3;
}

.sixth{
    grid-column: 4 / 6;
}

.seventh{
    grid-column: 6 / 9;
}

.eighth{
    grid-column: 2 / 4;
}

.ninth{
    grid-column: 5 / 6;
}









/* Media Queries */
@media (max-width: 1000px) {
    .second{
        grid-column: 1 / 6;
    }

    .third{
        grid-column: 6 / 9;
    }

    .fourth{
        grid-column: 1 / 4;
    }

    .fifth{
        grid-column: 4 / 9;
    }

    .sixth{
        grid-column: 1 / 3;
    }

    .seventh{
        grid-column: 3 / 6;
    }

    .eighth{
        grid-column: 6 / 8;
    }

    .ninth{
        grid-column: 8 / 9;
    }
}