.content{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    height: auto;
}

.context{
    position: fixed;
}

.work-img{
    width: 50%;
    max-width: 1000px;
    margin-bottom: 33vh;
}









/* Media Queries */
@media (max-width: 500px) {
    .work-img{
        width: 100%;
    }

    .context{
        position: absolute;
    }
}

@media (max-width: 500px) {
    .title-wrapper{
        inset: 3rem 0 auto 0;
    }

    .content{
        top: 80vh;
    }

    .work-img{
        margin-bottom: 25vh;
    }
}