/* MAIN */
.work-div{
    width: 100%;
}





.work-div:nth-child(2) div{
    aspect-ratio: 1794 / 2328;
    width: 100%;
}



.work-div:nth-child(3){
    grid-column: 1 / 9;
}

.work-div:nth-child(3) div{
    aspect-ratio: 3537 / 2332;
    width: 100%;
}



.work-div:nth-child(4){
    grid-column: 1 / 5;
}

.work-div:nth-child(4) div{
    aspect-ratio: 1794 / 2328;
    width: 100%;
}