/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
.work-div{
    &:nth-of-type(1){
        aspect-ratio: 1794 / 2328;
    }

    &:nth-of-type(2){
        grid-column: 1 / 9;
        aspect-ratio: 3537 / 2332;
    }

    &:nth-of-type(3){
        grid-column: 1 / 5;
        aspect-ratio: 1794 / 2328;
    }
}