/* MAIN */
.work-div{
    width: 100%;
}





.work-div:nth-child(2){
    grid-column: 5 / 9;

    display: flex;
    justify-content: start;
}

.work-div:nth-child(2) div{
    aspect-ratio: 1794 / 2328;
    width: 100%;
}





.work-div:nth-child(3){
    grid-column: 1 / 9;

    display: flex;
    justify-content: center;
}

.work-div:nth-child(3) div{
    aspect-ratio: 3537 / 2332;
    width: 100%;
}





.work-div:nth-child(4){
    grid-column: 1 / 5;

    display: flex;
    justify-content: end;
}

.work-div:nth-child(4) div{
    aspect-ratio: 1794 / 2328;
    width: 100%;
}









.blur-load{
    background-size: cover;
    background-position: center;
}

.blur-load.loaded > img{
    opacity: 1;
}

.blur-load > img{
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}









.work-img{
    display: block;
}

.work-img:hover{
    cursor: zoom-out;
}

.work-img:active{
    cursor: zoom-in;
}



.focused{
    position: fixed;
    height: 100vh;
    width: auto;

    inset: 0;
    margin: 0 auto;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.focusedcontainer{
    z-index: 1000;
}