/* HTML ------------------------------------------------------------------------------------------------------------------------- */
:root{
    --blend-mode: darken;
}









/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
article{
    row-gap: 1rem;
}

.leftoid{
    pointer-events: none;
    z-index: 10;

    & h1, h2, p{
        pointer-events: all;
    }
}



.draggable{
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 800px;
    position: relative;

    cursor: -webkit-grab;

    cursor: grab;
    mix-blend-mode: var(--blend-mode);

    &:hover{
        cursor: -webkit-grab;
        cursor: grab;
    }

    &:active{
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}



img{
    &:nth-of-type(1){
        margin-top: auto;
    }

    &:nth-of-type(odd){
        -ms-grid-column: 5;
        -ms-grid-column-span: 4;
        grid-column: 5 / 9;
    }

    &:nth-of-type(even){
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-column: 1 / 5;
        margin: -50% 0 0 auto;
    }
}









/* TYPE ------------------------------------------------------------------------------------------------------------------------- */
span{
    background-color: white;
    -webkit-box-shadow: 0 0 0 4px white;
            box-shadow: 0 0 0 4px white;
}



.radio-button{
    & label{
        display: inline-block;
        background-color: white;
        cursor: pointer;
    }

    & input[type="radio"]{
        display: none;
    }

    & input[type="radio"]:checked+label{
        background-color: var(--green);
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (width <= 685px) {
    .radio-button{
        display: none;
    }

    .leftoid{
        margin-bottom: 4rem;
    }

    img{
        margin-bottom: 4rem;
    
        &:nth-of-type(even){
            margin: 0 0 4rem 0;
        }
    }
}