/* Main */

main{
    position: fixed;
}









/* Content */

#content{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.draggable{
    width: 50%;
    max-width: 800px;
    cursor: grab;

    mix-blend-mode: multiply;
}

.draggable:hover{
    cursor: grab;
}
 
.draggable:active{
    cursor: grabbing;
}








/* Type */

.highlight{
    background-color: white;
    box-shadow: 0 0 0 4px white;
}









/* Media Queries */
@media (max-width: 900px) {
    .content{
        height: 100vh;
        padding: 3rem 1rem 1rem 1rem;
        align-items: flex-end;
        row-gap: 0;
    }
}

@media (max-width: 820px) {
    .sub-title{
        margin-top: 6rem;
    }
}

@media (max-width: 685px) {
    .context{
        display: block;
        position: absolute;
    }

    .sub-title{
        margin-top: 0;
    }

    .content{
        display: flex;
    }
}