/* HTML ------------------------------------------------------------------------------------------------------------------------- */
html{
    scroll-behavior: auto;
}









/* SPLASH   --------------------------------------------------------------------------------------------------------------------- */
#splash{
    cursor: url(../../assets/cursors/splash-cursor.svg) 32 32, pointer;
    z-index: 11;
    display: flex;
    justify-content: center;
    overflow: hidden;

    & img{
        width: 100%;
        height: 100%;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    & h1{
        font-size: 50vh;
        line-height: 50vh;
    
        position: absolute;
        top: auto;
        bottom: -14.4vh;
        
        -webkit-user-select: none;    
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}









/* INDEX    --------------------------------------------------------------------------------------------------------------------- */
#index-btn{
    grid-column: 6;
    margin-right: auto;
}

#index{
    max-width: var(--in-width);
    margin: 0 auto 0 auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;

    & a, div{
        grid-column: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        pointer-events: all;
    }
}









/* MAIN ------------------------------------------------------------------------------------------------------------------------- */
main > div{
    width: 100%;
    height: 33vh;
}

article{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.content{
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: var(--out-width);
    margin: 0 auto;
}

.context{
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: var(--in-width);
    margin: 0 auto;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;

    pointer-events: none;

    & h1{
        font-weight: 600;
        font-size: 3rem;
        line-height: 3rem;

        margin: 0 auto 0 1rem;
        padding-right: 1rem;
        pointer-events: all;
    }

    & h2{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.75px;

        margin: 0 auto 1rem 1rem;
        padding-right: 1rem;
        pointer-events: all;
    }
}

.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}









/* Lawn Texture ----------------------------------------------------------------------------------------------------------------- */
#lawn-texture{
    & .content{
        width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    }

    & h3{
        font-weight: 600;
        font-size: 2rem;
        margin-top: 0;
        line-height: 2rem;
        text-transform: uppercase;
        display: block;
    }
}

#lawn-container{
    display: block;
    width: 50vw;
    max-width: var(--in-width);
}

span.lawn, span.flower{
    box-shadow: var(--shadow);
}









/* SEAM CARVING ----------------------------------------------------------------------------------------------------------------- */
.carving-content{
    width: calc(100% - 2rem);
    max-width: calc(var(--in-width) - 2rem);
    aspect-ratio: 1440 / 810;
    display: flex;
    justify-content: center;

    & img{
        max-height: 100%;
        max-width: 100%;
    }

    & .blur-load{
        aspect-ratio: 1440 / 810;
    }
}









/* BLOOM ------------------------------------------------------------------------------------------------------------------------ */
#bloom > .content{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.bloom-link{
    &:hover{
        background-color: rgba(0, 0, 0, 0);
    }

    &:nth-of-type(1){
        margin: 6% 0 auto 0;
    }

    &:nth-of-type(2){
        margin: auto 0 0 0;
    }

    &:nth-of-type(3){
        margin: 0 0 auto 0;
    }

    &:nth-of-type(4){
        margin: auto 0 6% 0;
    }



    & img{
        width: 100%;
    }
}









/* SORT LATER   ----------------------------------------------------------------------------------------------------------------- */
.sortlater-bg-container{
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: calc(-50vw + calc(var(--out-width) / 2));

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sortlater-stretch{
    height: 50%;
    width: 3440px;

    display: flex;
    justify-content: space-between;

    position: relative;
    left: calc(50vw - 1720px);

    & > div{
        aspect-ratio: 216 / 356;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:nth-of-type(odd) img{
            aspect-ratio: 971 / 1257;
        }

        &:nth-of-type(even) img{
            aspect-ratio: 791 / 1303;
        }
    }

    & a{
        max-width: 100%;
        max-height: 100%
    }

    & img{
        width: 100%;
        height: 100%;
    }
}

.sortlater-center{
    display: block;
    aspect-ratio: 1800 / 1125;
    max-width: 75%;
    max-height: 66%;
    position: relative;

    &:hover{
        background-color: rgba(0, 0, 0, 0);
    }
}

.sortlater-window{
    width: 100%;
    aspect-ratio: 1800 / 1125;
}

.sortlater-scroll-container{
    position: absolute;
    inset: auto 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    aspect-ratio: 1800 / 1046;
    width: 100%;

    clip-path: polygon(0% 0%, 97% 0%, 97% 47%, 100% 53%, 100% 100%, 0% 100%);
    mix-blend-mode: multiply;

    & img{
        width: 100%;
        position: absolute;
        margin-top: 60%;
    }
}









/* GENERATIVE? POEMS    --------------------------------------------------------------------------------------------------------- */
.generative-in-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, calc(25% - 0.75rem));
    gap: 1rem;

    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: var(--in-width);
    margin: 0 auto;
    padding: 0 1rem;
    inset: 0;
    
    pointer-events: none;

    & a{
        &:nth-of-type(1){
            grid-area: 1 / 2 / 3 / 4;
            margin-right: auto;
        }

        &:nth-of-type(2){
            grid-area: 1 / 3;
            margin-right: auto;
        }

        &:nth-of-type(3){
            grid-area: 3 / 4;
            margin-right: auto;
        }

        &:nth-of-type(4){
            grid-area: 3 / 5 / 5 / 7;
            margin-right: auto;
        }
    }

    & img{
        aspect-ratio: 0.8 / 1;
        max-width: 100%;
        max-height: 100%;
        pointer-events: all;
    }
}



.generative-out-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, calc(25vh - 0.75rem));
    gap: 1rem;

    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: var(--out-width);
    margin: 0 auto;
    padding: 0 1rem;
    inset: 0;

    pointer-events: none;

    & a{
        &:nth-of-type(1){
            grid-area: 2 / 1;
            margin-right: auto;
        }

        &:nth-of-type(2){
            grid-area: 1 / 5;
            margin-left: auto;
        }

        &:nth-of-type(3){
            grid-area: 3 / 2;
            margin-right: auto;
        }

        &:nth-of-type(4){
            grid-area: 4 / 6;
            margin-left: auto;
        }
    }

    & img{
        aspect-ratio: 0.8 / 1;
        max-width: 100%;
        max-height: 100%;
        pointer-events: all;
    }
}



.generative-window{
    aspect-ratio: 1864 / 1165;

    height: 100%;
    max-width: 75%;
    max-height: 50%;
    pointer-events: all;

    &:hover{
        background-color: rgba(0, 0, 0, 0);
    }

    & img{
        width: 100%;
        aspect-ratio: 1800 / 1125;
    }
}









/* INTERVIEW    ----------------------------------------------------------------------------------------------------------------- */
.interview-container{
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: var(--in-width);
    margin: 0 1rem;
}

.interview-spread{
    display: block;
    position: relative;

    max-height: calc(100% - 6rem);
    aspect-ratio: 3537 / 2332;

    &:hover{
        background-color: rgba(0, 0, 0, 0);
    }

    & img{
        width: 100%;
        height: 100%;
    }
}









/* PLAYLIST COVERS  ------------------------------------------------------------------------------------------------------------- */
#playlist-covers img{
    aspect-ratio: 1 / 1;
    max-width: 100%;
    max-height: 100%;
    pointer-events: all;
}

.playlist-out-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, calc(12.5vh - 0.875rem));
    gap: 1rem;

    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: var(--out-width);
    margin: 0 auto;
    padding: 0 1rem;
    inset: 0;
    
    pointer-events: none;

    & a{
        &:nth-of-type(1){
            grid-area: 1;
            margin-right: auto;
        }

        &:nth-of-type(2){
            grid-area: 4 / 4;
            margin-left: auto;
        }

        &:nth-of-type(3){
            grid-area: 6 / 8;
            margin-left: auto;
        }

        &:nth-of-type(4){
            grid-area: 8 / 6;
            margin-left: auto;
        }
    }
}



.playlist-mid-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, calc(12.5vh - 0.875rem));
    gap: 1rem;

    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: 1980px;
    margin: 0 auto;
    padding: 0 1rem;
    inset: 0;
    
    pointer-events: none;

    & a{
        &:nth-of-type(1){
            grid-area: 2 / 1 / 4 / 3;
            margin-right: auto;
        }

        &:nth-of-type(2){
            grid-area: 7 / 7 / 9 / 9;
            margin-left: auto;
        }
    }
}



.playlist-in-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, calc(12.5vh - 0.875rem));
    gap: 1rem;

    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: var(--in-width);
    margin: 0 auto;
    padding: 0 1rem;
    inset: 0;
    
    pointer-events: none;

    & a{
        &:nth-of-type(1){
            grid-area: 5 / 2 / 8 / 5;
            margin-left: auto;
        }

        &:nth-of-type(2){
            grid-area: 3 / 5 / 6 / 8;
            margin-right: auto;
        }
    }
}









/* CROSSWALK POETICS    --------------------------------------------------------------------------------------------------------- */
.crosswalk-content{
    position: relative;
    max-height: 100%;
    aspect-ratio: 16 / 9.5;

    & img{
        width: 100%;
        height: 100%;
        aspect-ratio: 2156 / 1280;
    }
}

#crosswalk-projection{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    pointer-events: none;
}









/* DIGITAL OVERPRINT    --------------------------------------------------------------------------------------------------------- */
.vertical-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & a{
        &:nth-of-type(2){
            clip-path: inset(0 12.5% 0 12.5%);
        }

        &:nth-of-type(3){
            clip-path: inset(0 0 0 33%);
        }

        &:nth-of-type(4){
            clip-path: inset(0 12.5% 0 50%);
        }
    }

    & img{
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }
}









/* ACETATE MELT ----------------------------------------------------------------------------------------------------------------- */
#acetate-melt{
    & a{
        pointer-events: all;
    }

    & img{
        width: 100%;
    }
}



.acetate-out-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: var(--out-width);
    margin: 0 auto;
    inset: 0;

    display: flex;
    justify-content: space-between;

    mix-blend-mode: multiply;
    pointer-events: none;
}

.cattle{
    width: 20%;
    margin: auto 0 5% 0;

    & img{
        aspect-ratio: 1357 / 1024;
    }
}

.waterfall{
    width: 12%;
    margin: 5% 0 auto 0;

    & img{
        aspect-ratio: 1024 / 2031;
    }
}



.acetate-in-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: var(--in-width);
    margin: 0 auto;
    padding: 0 1rem;
    inset: 0;

    display: flex;
    justify-content: space-between;
    
    mix-blend-mode: multiply;
    pointer-events: none;
}

.parrot{
    width: 25%;
    margin: 0 0 auto 0;

    & img{
        aspect-ratio: 1024 / 1369;
    }
}

.plane{
    width: 25%;
    margin: auto 0 0 0;

    & img{
        aspect-ratio: 1024 / 1605;
    }
}



.acetate-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    mix-blend-mode: multiply;
    pointer-events: none;

    & a{
        width: 30%;
    }

    & img{
        aspect-ratio: 1024 / 1327;
    }
}









/* HOMODEUS --------------------------------------------------------------------------------------------------------------------- */
#homodeus img{
    position: absolute;
    inset: 0;
    width: auto;
    max-width: 100vw;
    margin: auto auto;

    max-height: 100%;
    aspect-ratio: 1281 / 1024;
}

.multiply{
    mix-blend-mode: multiply;
    pointer-events: none;
}









/* RUOTUVAKI    ----------------------------------------------------------------------------------------------------------------- */
.rv-juliste{
    position: absolute;
    inset: 0 auto auto 0;
    width: 100vw;
    max-width: 1220px;

    aspect-ratio: 1400 / 980;
}

.rv-aukeama{
    position: absolute;
    inset: auto 0 0 auto;
    width: 100%;
    max-width: 67vh;

    aspect-ratio: 1400 / 1050;
}

.invisa-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0 1rem;

    position: relative;
    width: 100%;
    height: auto;
    max-width: var(--in-width);
    margin: 0 auto 0 auto;
    top: 10%;
    pointer-events: none;
}

.rv-kalenteri{
    grid-column: 4 / 5;
    max-width: 100%;
    pointer-events: all;

    & img{
        width: 100%;
        aspect-ratio: 1/1;
    }
}









/* COLLAGES --------------------------------------------------------------------------------------------------------------------- */
.horizontal-flex{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;

    & a{
        max-width: 683px;

        &:nth-of-type(1){
            margin-bottom: auto;
            margin-top: auto;
        }

        &:nth-of-type(2){
            margin-bottom: auto;
        }

        &:nth-of-type(3){
            margin-top: auto;
        }
    }

    & img{
        width: 100%;
        max-width: 683px;
        aspect-ratio: 683 / 1024;
    }
}









/* DRAWING  --------------------------------------------------------------------------------------------------------------------- */
#drawings{
    pointer-events: none;

    .content a{
        background-color: rgba(0, 0, 0, 0);
        pointer-events: all;
    }

    & img{
        width: 100%;
    }
}



.drawing-external{
    position: absolute;
    display: none;
    left: -440px;
    height: 100vh;
    width: 100vw;
    min-width: calc(var(--out-width) + 880px);

    pointer-events: none;

    & img{
        aspect-ratio: 683 / 1024;
    }
}

.grass{
    position: absolute;
    inset: auto auto 0 0;
    width: 400px;
    margin-bottom: 2rem;
}

.feet{
    position: absolute;
    inset: 0 0 auto auto;
    width: 400px;
    margin-top: 2rem;
    transform: rotate(180deg);
}



.drawing-out{
    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: var(--out-width);

    pointer-events: none;

    & img{
        aspect-ratio: 1280 / 1024;
    }
}

.history-class{
    aspect-ratio: 5 / 4;
    height: 40%;
    max-width: 100vw;
    position: absolute;
    inset: 0 auto auto 0;
}

.balcony{
    aspect-ratio: 5 / 4;
    height: 40%;
    max-width: 100vw;
    position: absolute;
    inset: auto 0 0 auto;
}



.dumari{
    aspect-ratio: 4 / 5;
    max-height: 75%;
    max-width: 50%;

    & img{
        aspect-ratio: 1024 / 1280;
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (width >= 3440px) {
    .drawing-external{
        left: calc(calc(100vw - var(--out-width)) / -2);
    }
}



@media (width >= 2560px) {
    .drawing-external{
        display: block;
    }
}



@media (width <= 2560px) {
    .sortlater-bg-container{
        left: 0;
    }

    #sortlater-print-1{
        display: none;
    }

    #sortlater-print-7{
        display: none;
    }
}



@media (width <= 1500px) {
    #sortlater-print-2{
        display: none;
    }

    #sortlater-print-6{
        display: none;
    }
}



@media (width <= 1200px) {
    #splash{
        & h1{
            font-size: 38vw;
            line-height: 38vw;
            bottom: -11vw;
        }
    }

    .bloom-link{
        &:nth-of-type(1){
            display: none;
        }
    
        &:nth-of-type(2){
            margin: 20% 0 auto 0;
        }
    
        &:nth-of-type(3){
            margin: auto 0 20% 0;
        }
    
        &:nth-of-type(4){
            margin: 20% 0 auto 0;
        }
    }
}



/* @media (width <= 1290px) {
    .interview-spread{
        width: 968px;
    }
} */



@media (width <= 1000px) {
    #lawn-container{
        width: calc(100% - 2rem);
    }

    /* .interview-spread{
        width: calc(100% - 2rem);
    } */
}



/* @media (max-width: 900px) {
    #index-btn{
        display: none;
    }

    #index{
        display: none;
    }
} */

@media (width <= 900px) {
    #index-btn{
        display: none;
    }

    #index{
        display: none;
    }
}



@media (width <= 775px) {
    #sortlater-print-3{
        display: none;
    }

    .sortlater-stretch > div:nth-of-type(4){
        max-width: 50vw;
    }

    #sortlater-print-5{
        display: none;
    }
}



@media (width <= 685px) {
    #lawn-texture{
        & h3{
            font-size: 4.7vw;
            line-height: 4.7vw;
        }
    }



    .bloom-link{
        &:nth-of-type(2){
            max-height: 90%;
            max-width: 100%;
            aspect-ratio: 1280 / 2048;
            margin: auto;
        }
    
        &:nth-of-type(3){
            display: none;
        }
    
        &:nth-of-type(4){
            display: none;
        }
    }



    .acetate-out-container{
        flex-direction: row-reverse;
    }

    .waterfall{
        margin-left: 30%;
    }

    .cattle{
        margin-right: 30%;
    }

    .parrot{
        margin-top: 20%;
    }

    .plane{
        margin-bottom: 20%;
    }

    .acetate-center{
        & a{
            width: 45%;
        }
    }
}