/* IMPORTS  --------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "Hedera";
    src: url('../../work/hedera/assets/content/fonts/Hedera-VF.woff2') format('woff2'),
        url('../../work/hedera/assets/content/fonts/Hedera-VF.woff') format('woff'),
        url('../../work/hedera/assets/content/fonts/Hedera-VF.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}









/* HTML ------------------------------------------------------------------------------------------------------------------------- */
html{
    scroll-behavior: auto;
}









/* SPLASH   --------------------------------------------------------------------------------------------------------------------- */
#splash{
    cursor: url(../../assets/cursors/splash-cursor.svg) 32 32, pointer;
    z-index: 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;

    & img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    & h1{
        font-size: 50vh;
        line-height: 50vh;
    
        position: absolute;
        top: auto;
        bottom: -14.4vh;
        
        -webkit-user-select: none;    
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}









/* INDEX    --------------------------------------------------------------------------------------------------------------------- */
#index-btn{
    -ms-grid-column: 6;
    grid-column: 6;
    margin-right: auto;
}

#index{
    max-width: var(--in-width);
    margin: 0 auto 0 auto;
    padding: 0 1rem;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;

    & a, div{
        -ms-grid-column: 1;
        grid-column: 1;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        pointer-events: all;
    }
}









/* MAIN ------------------------------------------------------------------------------------------------------------------------- */
main > div{
    width: 100%;
    height: 33vh;
}

article{
    position: relative;
    width: 100vw;
    height: 100vh;
}



.content{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: var(--mid-width);
    margin: 0 auto;

    pointer-events: none;
}

.out-container{
    position: absolute;
    height: 100%;
    width: 100vw;
    left: calc((-100vw + 2560px) / 2);
}

.mid-container{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: var(--mid-width);
}

.in-container{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: var(--in-width);
    margin: 0 auto;
    inset: 0;
}



.context{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: var(--in-width);
    margin: 0 auto;
    inset: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;

    pointer-events: none;
}

hgroup{
    padding: 1rem;

    & h1{
        font-weight: 600;
        font-size: 3rem;
        line-height: 3rem;

        & a{
            pointer-events: all;
        }
    }
    
    & h2{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.75px;

        & a{
            pointer-events: all;
        }
    }
}

.center-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}









/* Hedera   --------------------------------------------------------------------------------------------------------------------- */
#hedera .out-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hedera-content{
    position: relative;
    max-width: 100%;
    max-height: calc(100% - 6rem);
    aspect-ratio: 1492 / 1024;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* overflow: hidden; */

    & > a{
        display: block;
        max-width: 100%;
        max-height: 100%;
        pointer-events: all;

        &:hover{
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

#brickwall{
    width: 100%;
    height: 100%;
}



#ivy-container{
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1492 / 1024;
}

#ivy{
    font-family: Hedera;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0px;
    font-variation-settings: "OFST" -100;

    -webkit-font-variant-ligatures: contextual;

            font-variant-ligatures: contextual;
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";

    width: 68.66%;
    height: 145.65%;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 50% 34.308%;
        -ms-transform-origin: 50% 34.308%;
            transform-origin: 50% 34.308%;

    position: absolute;
    inset: 0;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center; */
}

#growth{
    color: #03ac13;
    pointer-events: all;

    &:hover{
        background-color: rgba(0, 0, 0, 0);
    }
}









/* Lawn Texture ----------------------------------------------------------------------------------------------------------------- */
#lawn-texture .in-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#lawn-container{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: calc(100% - 2rem);

    & h3{
        font-weight: 600;
        font-size: 2rem;
        margin-top: 0;
        line-height: 2rem;
        text-transform: uppercase;
        display: block;

        max-width: 46ch;
        pointer-events: all;
    }
}

span.lawn, span.flower{
    -webkit-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
}









/* SEAM CARVING ----------------------------------------------------------------------------------------------------------------- */
#seam-carving .in-container{
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.carving-content{
    width: 100%;
    max-height: 100%;
    aspect-ratio: 1440 / 810;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    & a{
        display: block;
        height: 100%;
        pointer-events: all;
    }
}

#nycCarve{
    height: 100%;
}









/* BLOOM ------------------------------------------------------------------------------------------------------------------------ */
#bloom .mid-container{
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.bloom-content{
    width: 100%;
    max-width: calc((100% - 3rem) / 4);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &:nth-of-type(1){
        padding: 5% 0 0 0;
    }

    &:nth-of-type(4){
        padding: 0 0 5% 0;
    }
}

.bloom-print{
    display: block;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1280 / 2048;

    pointer-events: all;

    &:hover{
        background-color: rgba(0, 0, 0, 0);
    }

    & img{
        width: 100%;
        height: 100%;
    }
}

#bloom-red-car{
    margin: auto;
}

#bloom-blue-car{
    margin: auto auto 0 auto;
}

#bloom-stop-sign{
    margin: 0 auto auto auto;
}

#bloom-blue-bike{
    margin: auto;
}









/* SORT LATER   ----------------------------------------------------------------------------------------------------------------- */
#sort-later{
    overflow: hidden;
}

#sort-later .out-container{
    width: 3440px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: relative;
    left: calc(((-100vw + var(--mid-width)) / 2) - (-50vw + 1720px));
}

.sortlater-content{
    aspect-ratio: 216 / 356;
    height: 100%;
    max-height: 50%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    & a{
        width: 100%;
        pointer-events: all;
    }

    &:nth-of-type(even) a{
        aspect-ratio: 791 / 1303;
    }

    &:nth-of-type(odd) a{
        aspect-ratio: 971 / 1257;
    }

    & img{
        width: 100%;
        height: 100%;
    }
}



#sort-later .center-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

.sortlater-center{
    display: block;
    aspect-ratio: 1800 / 1125;
    max-width: 75%;
    max-height: 66%;
    position: relative;

    pointer-events: all;

    &:hover{
        background-color: rgba(0, 0, 0, 0);
    }

    & > img{
        width: 100%;
        height: 100%;
    }
}

.sortlater-scroll-container{
    position: absolute;
    inset: auto 0 0 0;
    aspect-ratio: 1800 / 1046;
    width: 100%;

    -webkit-clip-path: polygon(0% 0%, 97% 0%, 97% 47%, 100% 53%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 97% 0%, 97% 47%, 100% 53%, 100% 100%, 0% 100%);
    mix-blend-mode: multiply;

    pointer-events: none;

    & img{
        width: 100%;
        position: absolute;
    }
}









/* GENERATIVE? POEMS    --------------------------------------------------------------------------------------------------------- */
#generative-poems a{
    & img{
        width: 100%;
        height: 100%;
    }
}

#generative-poems .in-container:first-of-type{
    display: grid;
    grid-template-columns: repeat(6, calc((100% / 6) - (5rem / 6)));
    grid-template-rows: repeat(4, calc((100% / 4) - (3rem / 4)));
    gap: 1rem;
    padding: 0 1rem;

    & a{
        display: block;
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 1024 / 1322;

        pointer-events: all;

        &:hover{
            background-color: rgba(0, 0, 0, 0);
        }



        &:nth-of-type(1){
            grid-area: 1 / 2 / 3 / 4;
        }

        &:nth-of-type(2){
            grid-area: 1 / 3;
        }

        &:nth-of-type(3){
            grid-area: 3 / 4;
        }

        &:nth-of-type(4){
            grid-area: 3 / 5 / 5 / 7;
        }
    }
}

#generative-poems .mid-container{
    display: grid;
    grid-template-columns: repeat(6, calc((100% / 6) - (5rem / 6)));
    grid-template-rows: repeat(4, calc((100% / 4) - (3rem / 4)));
    gap: 1rem;
    padding: 0 1rem;

    & a{
        display: block;
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 1024 / 1322;

        pointer-events: all;

        &:hover{
            background-color: rgba(0, 0, 0, 0);
        }



        &:nth-of-type(1){
            grid-area: 2 / 1;
        }

        &:nth-of-type(2){
            grid-area: 1 / 5;
        }

        &:nth-of-type(3){
            grid-area: 3 / 2;
        }

        &:nth-of-type(4){
            grid-area: 4 / 6;
        }
    }
}

#generative-poems .center-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

.generative-window{
    aspect-ratio: 1864 / 1165;
    max-width: 75%;
    max-height: 50%;

    pointer-events: all;
}









/* INTERVIEW    ----------------------------------------------------------------------------------------------------------------- */
#ed-brown-interview .in-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;

    & > a{
        display: block;
        position: relative;
    
        max-height: calc(100% - 6rem);
        aspect-ratio: 3537 / 2332;

        pointer-events: all;
    
        &:hover{
            background-color: rgba(0, 0, 0, 0);
        }
    
        & img{
            width: 100%;
            height: 100%;
        }
    }
}









/* PLAYLIST COVERS  ------------------------------------------------------------------------------------------------------------- */
#playlist-covers{
    & .content a{
        display: block;
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 1 / 1;
        pointer-events: all;
    }

    & img{
        width: 100%;
        height: 100%;
    }
}

#playlist-covers .mid-container{
    display: grid;
    grid-template-columns: repeat(8, calc((100% / 8) - (7rem / 8)));
    grid-template-rows: repeat(8, calc((100% / 8) - (7rem / 8)));
    gap: 1rem;

    max-width: var(--mid-width);
    margin: 0 auto;
    padding: 0 1rem;
    inset: 0;

    & a{
        &:nth-of-type(1){
            grid-area: 1;
            margin-right: auto;
        }

        &:nth-of-type(2){
            grid-area: 4 / 4;
            margin-left: auto;
        }

        &:nth-of-type(3){
            grid-area: 6 / 8;
            margin-left: auto;
        }

        &:nth-of-type(4){
            grid-area: 8 / 6;
            margin-left: auto;
        }
    }
}

#playlist-covers .custom-container{
    display: grid;
    grid-template-columns: repeat(8, calc((100% / 8) - (7rem / 8)));
    grid-template-rows: repeat(8, calc((100% / 8) - (7rem / 8)));
    gap: 1rem;

    max-width: 1980px;
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    inset: 0;

    & a{
        &:nth-of-type(1){
            grid-area: 2 / 1 / 4 / 3;
            margin-right: auto;
        }

        &:nth-of-type(2){
            grid-area: 7 / 7 / 9 / 9;
            margin-left: auto;
        }
    }
}

#playlist-covers .in-container{
    display: grid;
    grid-template-columns: repeat(8, calc((100% / 8) - (7rem / 8)));
    grid-template-rows: repeat(8, calc((100% / 8) - (7rem / 8)));
    gap: 1rem;

    margin: 0 auto;
    padding: 0 1rem;
    inset: 0;

    & a{
        &:nth-of-type(1){
            grid-area: 5 / 2 / 8 / 5;
            margin-left: auto;
        }

        &:nth-of-type(2){
            grid-area: 3 / 5 / 6 / 8;
            margin-right: auto;
        }
    }
}









/* CROSSWALK POETICS    --------------------------------------------------------------------------------------------------------- */
#crosswalk-poetics .content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.crosswalk-content{
    position: relative;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 16 / 9.5;

    & a{
        display: block;
        width: 100%;
        height: 100%;

        pointer-events: all;
        
        & img{
            width: 100%;
            height: 100%;
        }
    }
}

#crosswalk-projection{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}









/* DIGITAL OVERPRINT    --------------------------------------------------------------------------------------------------------- */
#digital-overprint .content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    & a{
        pointer-events: all;

        &:nth-of-type(2){
            -webkit-clip-path: inset(0 12.5% 0 12.5%);
                    clip-path: inset(0 12.5% 0 12.5%);
        }

        &:nth-of-type(3){
            -webkit-clip-path: inset(0 0 0 33%);
                    clip-path: inset(0 0 0 33%);
        }

        &:nth-of-type(4){
            -webkit-clip-path: inset(0 12.5% 0 50%);
                    clip-path: inset(0 12.5% 0 50%);
        }
    }

    & img{
        width: 100%;
        height: 20vh;
        -o-object-fit: cover;
           object-fit: cover;
    }
}









/* ACETATE MELT ----------------------------------------------------------------------------------------------------------------- */
#acetate-melt .content{
    & a{
        display: block;
        mix-blend-mode: multiply;
        pointer-events: all;
    }

    & img{
        width: 100%;
        height: 100%;
    }
}

.acetate-content{
    mix-blend-mode: multiply;
}

#acetate-melt .mid-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    & > div{
        position: relative;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

#cattle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    max-width: 20%;

    & a{
        max-width: 100%;
        max-height: 50%;
        aspect-ratio: 1357 / 1024;
        margin: auto 0 15% 0;
    }
}

#waterfall{
    max-width: 12%;

    & a{
        max-width: 100%;
        max-height: 50%;
        aspect-ratio: 1024 / 2031;
        margin: 15% 0 auto 0;
    }
}



#acetate-melt .in-container:nth-child(2){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    & > div{
        position: relative;
        width: 100%;
        height: 100%;
    }
}

#parrot{
    max-width: 25%;

    & a{
        max-width: 100%;
        max-height: 65%;
        aspect-ratio: 1024 / 1369;
        margin: 0 0 auto 0;
    }
}

#plane{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    max-width: 25%;
    
    & a{
        max-width: 100%;
        max-height: 65%;
        aspect-ratio: 1024 / 1605;
        margin: auto 0 0 0;
    }
}



#acetate-melt .in-container:last-child{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    & > div{
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

#gardener{
    max-width: 50%;
    max-height: 80%;
    aspect-ratio: 1024 / 1327;
}









/* HOMODEUS --------------------------------------------------------------------------------------------------------------------- */
#homodeus .content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#homodeus .out-container{
    height: 111%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: hidden;

    & img{
        width: 100%;
        height: 100%;
    }
}

.line-up{
    position: relative;
    height: 100%;
    max-height: 90.1%;
    max-width: 100%;
    aspect-ratio: 1271 / 1280;
}

.out-fit{
    position: absolute;
    width: 129.5%;
    height: 111%;
    inset: -5.5% auto auto -13.4%;
}



#homodeus .in-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    & img{
        width: 100%;
        height: 100%;
    }
}



a.in-fit{
    pointer-events: all;

    &:hover{
        background-color: rgba(0, 0, 0, 0);
    }
}

.in-fit{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1271 / 1280;
}

.homodeus-shadow{
    mix-blend-mode: multiply;
}









/* RUOTUVAKI    ----------------------------------------------------------------------------------------------------------------- */
#ruotuvaki a{
    pointer-events: all;

    & img{
        width: 100%;
        height: 100%;
    }
}

#rv-juliste{
    display: block;
    position: absolute;
    inset: 0 auto auto 0;
    max-width: calc(100% - 5rem);
    max-height: 60%;
    aspect-ratio: 1400 / 980;
}

#rv-aukeama{
    display: block;
    position: absolute;
    inset: auto 0 0 auto;
    max-width: calc(100% - 5rem);
    max-height: 50%;
    aspect-ratio: 1400 / 1050;
}

.rv-grid{
    position: relative;
    width: 100%;
    max-height: 100%;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: clamp(0%, 100%, calc(100% - 2rem));
    top: 10%;
    padding: 0 1rem;

    & a{
        grid-column: 4;
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 1 / 1;
        margin-left: auto;
    }
}









/* COLLAGES --------------------------------------------------------------------------------------------------------------------- */
#collages .mid-container{
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.collages-content{
    width: 100%;
    max-width: calc((100% - 2rem) / 3);
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;



    &:nth-of-type(1) a{
        margin: auto 0;
    }

    &:nth-of-type(2) a{
        margin: 0 0 auto 0;
    }

    &:nth-of-type(3) a{
        margin: auto 0 0 0;
    }



    & a{
        max-width: 100%;
        max-height: 80%;
        aspect-ratio: 1280 / 2048;

        pointer-events: all;
    }

    & img{
        width: 100%;
        height: 100%;
    }
}









/* DRAWING  --------------------------------------------------------------------------------------------------------------------- */
#drawings > .content{
    & a{
        display: block;
        pointer-events: all;

        &:hover{
            background-color: rgba(0, 0, 0, 0);
        }
    }

    & img{
        width: 100%;
        height: 100%;
    }
}

#drawings .out-container{
    width: calc(var(--mid-width) + 880px);
    left: -440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    & > div{
        position: relative;
        height: 100%;
        max-width: 440px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    & a{
        max-width: 100%;
        max-height: 50%;
        aspect-ratio: 683 / 1024;
    }
}

.drawing-content{
    display: block;
}

#grass{
    margin: auto 0 2rem 0;
}

#feet{
    margin: 2rem 0 auto 0;

    & img{
        -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
                transform: scaleX(-1);
    }
}



#drawings .mid-container{
    & > a{
        max-width: 100%;
        max-height: 50%;
        aspect-ratio: 1280 / 1024;
    }
}

#class{
    position: absolute;
    inset: 0 auto auto 0;
}

#balcony{
    position: absolute;
    inset: auto 0 0 auto;
}



#drawings .in-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    & > a{
        position: relative;
    
        max-width: 90%;
        max-height: calc(80% - 6rem);
        aspect-ratio: 1024 / 1280;
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (width >= 3440px) {
    #drawings .out-container{
        width: 100vw;
        left: calc(calc(100vw - var(--mid-width)) / -2);
    }
}



@media (width <= 2560px) {
    .out-container{
        left: 0;
    }



    #sort-later .out-container{
        left: calc(50vw - 1720px);
    }

    #sortlater-print-1{
        display: none;
    }

    #sortlater-print-7{
        display: none;
    }



    #drawings .out-container{
        display: none;
    }
}



@media (width <= 1500px) {
    #sortlater-print-2{
        display: none;
    }

    #sortlater-print-6{
        display: none;
    }
}



@media (width <= 1200px) {
    #splash{
        & h1{
            font-size: 38vw;
            line-height: 38vw;
            bottom: -11vw;
        }
    }



    .bloom-content{
        max-width: calc((100% - 2rem) / 3);

        &:nth-of-type(1){
            display: none;
        }

        &:nth-of-type(2){
            padding: 15% 0 0 0;
        }

        &:nth-of-type(3){
            padding: 0 0 15% 0;
        }
    
        &:nth-of-type(4){
            padding: 15% 0 0 0;
        }
    }
    
    #bloom-blue-car{
        margin: 0 auto auto auto;
    }
    
    #bloom-stop-sign{
        margin: auto auto 0 auto;
    }
    
    #bloom-blue-bike{
        margin: 0 auto auto auto;
    }
}



@media (width <= 1000px) {
    #acetate-melt .mid-container{
        flex-direction: row-reverse;
    }

    #cattle{
        max-width: 40%;
    
        & a{
            max-width: 40%;
            margin-right: auto;
        }
    }
    
    #waterfall{
        max-width: 40%;
    
        & a{
            max-width: 20%;
            margin-left: auto;
        }
    }

    #parrot{
        & a{
            margin-top: 10vh;
        }
    }
    
    #plane{
        & a{
            margin-bottom: 10vh;
        }
    }
}



@media (width <= 900px) {
    #index-btn{
        display: none;
    }

    #index{
        display: none;
    }



    .bloom-content{
        max-width: 100%;

        &:nth-of-type(2){
            display: none;
        }

        &:nth-of-type(3){
            padding: 0;
        }
    
        &:nth-of-type(4){
            display: none;
        }
    }

    #bloom-stop-sign{
        margin: auto;
        max-height: 75%;
    }



    .rv-grid{
        grid-template-rows: clamp(0%, 100%, 100%);
    }



    .collages-content{
        max-width: calc((100% - 1rem) / 2);

        &:nth-of-type(1){
            display: none;
        }
    
        &:nth-of-type(2) a{
            margin: 20% 0 auto 0;
        }
    
        &:nth-of-type(3) a{
            margin: auto 0 20% 0;
        }
    }
}



@media (width <= 775px) {
    #sortlater-print-3{
        display: none;
    }

    .sortlater-content:nth-of-type(4){
        max-width: 50vw;
    }

    #sortlater-print-5{
        display: none;
    }
}



@media (width <= 685px) {
    #lawn-texture{
        & h3{
            font-size: 4.7vw;
            line-height: 4.7vw;
        }
    }



    .collages-content{
        max-width: 100%;
    
        &:nth-of-type(2){
            display: none;
        }
    
        &:nth-of-type(3) a{
            margin: auto 0;
        }
    }
}









@media (aspect-ratio <= 564 / 901) {
    #drawings .mid-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        & > a{
            position: relative;
            max-width: 70%;
            max-height: 50%;
            aspect-ratio: 1280 / 1024;
        }
    }
}



@media (aspect-ratio <= 1202 / 1217) {
    .line-up{
        height: auto;
        width: 100%;
    }
}









@media print {
    #splash{
        display: none;
    }

    main > div{
        display: none;
    }

    article{
        -webkit-column-break-inside: avoid;
           -moz-column-break-inside: avoid;
                       break-inside: avoid;
    }
}