@font-face {
    font-family: "stretch";
    src: url('../assets/NewFontVF.woff2') format('woff2');
}

*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

p{
    /* letter-spacing: 2px; */
    display: inline-block;
    /* font-size: 20vh; */
    /* transform: scaleX(79.23553719%); */
    transform-origin: 0 0;
    /* margin-bottom: -50%; */
    white-space: nowrap;
}