/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
video{
    display: block;
    width: 100%;
}



.installation-video{
    aspect-ratio: 2276 / 1280;
}

.moss-video{
    aspect-ratio: 800 / 1000;
}



.physical-map{
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    margin-left: calc((100vw - var(--in-width)) / 2);
    width: auto;
    max-width: 100%;
}



.phenomenal-map-1{
    grid-column: 5 / 8;

    & img{
        aspect-ratio: 1920 / 1080;
    }
}

.phenomenal-map-2{
    grid-column: 6 / 9;
    margin-top: auto;

    & img{
        aspect-ratio: 1920 / 1080;
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (width >= 2560px) {
    .physical-map{
        margin-left: calc((var(--mid-width) - var(--in-width)) / 2);
        width: auto;
        max-width: 100%;
    }
}



@media (width <= 1400px) {
    .physical-map{
        margin-left: 0;
        width: auto;
        max-width: 100%;
    }
}



@media (width <= 1000px) {
    .physical-map{
        grid-column: 1 / 5;
    }

    .phenomenal-map-1{
        grid-column: 5 / 9;
    }
    
    .phenomenal-map-2{
        grid-column: 5 / 9;
    }
}









@media print {
    .context-container{
        grid-column: 1 / 8;
    }

    .work-div{
        break-inside: avoid;
    }

    #first{
        grid-column: 1 / 9;
        grid-row: 2;
    }

    .physical-map{
        grid-row: 3 / 5;
    }
}