/* Main */
.first{
    grid-column: 5 / 9;
}

.second{
    grid-column: 2 / 5;
}

.third{
    grid-column: 5 / 8;
}








/* Media Queries */
@media (max-width: 1000px) {
    .title-wrapper{
        grid-column: 1 / 5;
    }

    .title{
        width: 50%;
    }
}

@media (max-width: 914px) {
    .sub-title{
        margin-top: 6rem;
    }
}

@media (max-width: 870px) {
    .first{
        margin-bottom: 4rem;
    }
}

@media (max-width: 750px) {
    .first{
        margin-bottom: 8rem;
    }
}

@media (max-width: 685px) {
    .title{
        width: auto;
    }

    .sub-title{
        margin-top: 0;
    }

    .first{
        margin-bottom: 4rem;
    }
}