/* Main */
.video-div{
    width: 75%;
    height: calc(80vh - 3rem);
    max-width: 1000px;
    margin-left: auto;
    padding-top: 3rem;
}



.work-div{
    width: 50%;
    max-width: 666px;
    height: 80vh;
    margin-left: auto;
}

.work-img{
    aspect-ratio: 800 / 1024;
    width: 100%;
    margin-left: auto;
}

.work-title{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0.8rem;
}

.context{
    position: fixed;
}