body{
    height: 5000px;
}

.context{
    position: fixed;
}

.content{
    height: 100vh;
    position: fixed;
}

.work-div{
    position: relative;
    height: 100%;
    width: 100%;
}

.first{
    grid-column: 5 / 9;
}

.work-img{
    position: absolute;
    inset: auto 0 0 auto;

    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 4 / 5;
}

canvas{
    position: absolute;
    inset: auto 0 0 auto;

    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 4 / 5;
}









@media (max-width: 685px) {
    article{
        height: 100%;
        position: relative;
    }

    .context{
        display: block;
        position: relative;
    }

    .content{
        padding-top: 4rem;
        height: 100vh;

        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .work-div{
        margin-bottom: 0;
    }

    .work-img{
        inset: 0;
    }

    canvas{
        inset: 0;
    }
}