.fader-in{
    position: fixed;
    height: 300vh;
    width: 100vw;
    z-index: 9;

    inset: 0 0 auto 0;
    background: linear-gradient(rgba(255,255,255,0) 33%, rgba(255,255,255,1) 66%);
    transform: translateY(0vh);

    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.fader-in.tulossa{
    transform: translateY(-200vh);
    pointer-events: all;
}





.fader-out{
    position: fixed;
    height: 300vh;
    width: 100vw;
    z-index: 9;

    inset: 0 0 auto 0;
    background: linear-gradient(rgba(255,255,255,0) 33%, rgba(255,255,255,1) 66%);
    transform: translateY(0);

    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.fader-out.menossa{
    transform: translateY(-200vh);
    pointer-events: all;
}
























a{
    display: block;
}

.test-div{
    height: 400px;
    width: 800px;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: red;
}

.test-div-t{
    height: 300px;
    width: 600px;
    position: absolute;
    inset: 10% auto auto 50%;
    transform: translateX(-50%);
    background-color: green;
}

.test-div-b{
    height: 300px;
    width: 600px;
    position: absolute;
    inset: auto auto 10% 50%;
    transform: translateX(-50%);
    background-color: blue;
}