.context{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    padding: 3rem 1rem 0 1rem;

    height: auto;
    inset: 0 0 auto 0;

    /* background-color: aqua; */
}

.title-wrapper{
    position: relative;
    grid-column: 1 / 4;
    margin: 0;
    inset: 0;

    z-index: 1;
}

.title{
    position: fixed;
}

.sub-title{
    margin-top: 3rem;
}

.work-p{
    width: auto;
}

.work-title{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
}









.content{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    padding: 3rem 1rem 0 1rem;
    height: auto;

    /* background-color: aquamarine; */
}

.test-div{
    height: auto;
    width: 100%;
    z-index: 2;
}

.work-img{
    width: 100%;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.1));
}









.test-div-g{
    width: 100%;
    aspect-ratio: 16 / 9;
    z-index: 2;

    background-color: green;
}

.test-div-b{
    width: 100%;
    aspect-ratio: 16 / 9;
    z-index: 2;

    background-color: blue;
}

.first{
    grid-column: 5 / 9;
}