/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
.work-div:nth-of-type(1) img{
    aspect-ratio: 1024 / 1280;
}



.work-div:nth-of-type(2){
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;

    & img{
        aspect-ratio: 1024 / 1280;
    }
}

.work-div:nth-of-type(3){
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;

    & img{
        aspect-ratio: 1024 / 1280;
    }
}



.work-div:nth-of-type(4){
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;

    & img{
        aspect-ratio: 1280 / 1024;
    }
}

.work-div:nth-of-type(5){
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;

    & img{
        aspect-ratio: 1280 / 1024;
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media print {
    .context-container{
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;
        grid-column: 1 / 8;
    }

    #first{
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
        grid-column: 1 / 9;
    }
}