:root{
    --out-width: 2560px;
    --in-width: 1400px;
    --half-width: calc(1400px / 2);
}












article{
    position: relative;
    width: 100%;
    max-width: var(--out-width);
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1rem;
    row-gap: 4rem;
}

.context{
    grid-column: 1 / 5;
}

.context-container{
    position: sticky;
    top: 0;
    width: 100%;
    max-width: calc(var(--half-width) - 0.5rem);
    margin: 0 0 0 auto;
    padding: 3rem 0 0 1rem;
}

.work-div{
    width: 100%;
    z-index: 1;
    
    /* mix-blend-mode: multiply; */
}

img{
    width: 100%;
}

#first{
    margin-top: 3rem;
    grid-column: 5 / 9;
}










/* TYPE */
#title{
    font-weight: 600;
    font-size: 3rem;

    line-height: 4rem;
    margin: -0.5rem 0;
    position: fixed;

    overflow: visible;
}

#sub-title{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.75px;
    margin-top: 3rem;
}

p{
    margin-top: 0.5rem;
    max-width: 60ch;
}


















/* FOOTER */
footer{
    height: 75vh;

    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

#footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#footer-nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    max-width: calc(var(--half-width) - 0.5rem);

    margin: 0 0 0 auto;
    padding: 1rem 0 1rem 1rem;
}

#footer-gradient{
    grid-column: 2 / 3;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(../../assets/support/footer/ice-bliss.jpg);
}

#footer-gradient div{
    width: 100%;
    max-width: calc(var(--half-width) - 0.5rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 1rem 1rem 0;
}

#footer-gradient h3{
    text-align: right;
}









/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .footer-section{
        display: flex;
        flex-direction: column;
    }

    #footer-final{
        display: none;
    }
}