/* HTML */

:root{
    --type-color:#333;
    --green: #00ff00;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

    font-family: Helvetica-Neue;
    font-style: normal;
    color: var(--type-color);
}