/* HTML */
:root{
    --primary-color: #007bc7;
    --secondary-color: #b2d7ee;
    --tetriary-color: #d9ebf7;

    --dark-brown1: #673327;
    --dark-brown2: #d1c1be;
    --dark-brown3: #e8e1df;

    --purple1: #42145f;
    --purple2: #c6b8cf;
    --purple3: #e3dce7;

    --dark-green1: #275937;
    --dark-green2: #becdc3;
    --dark-green3: #dfe6e1;

    --ruby1: #ca005d;
    --ruby2: #efb2ce;
    --ruby3: #f7d9e7;

    --red1: #d52b1e;
    --red2: #f2bfbb;
    --red3: #f9dfdd;

    --violet1: #a90061;
    --violet2: #e5b2cf;
    --violet3: #f2d9e7;

    --moss-green1: #777c00;
    --moss-green2: #d6d7b2;
    --moss-green3: #ebebd9;

    --brown1: #94710a;
    --brown2: #dfd4b5;
    --brown3: #efeada;

    --green1: #39870c;
    --green2: #c3dbb6;
    --green3: #efeddb;

    --azure1: #007bc7;
    --azure2: #b2d7ee;
    --azure3: #d9ebf7;

    --light-blue1: #8fcae7;
    --light-blue2: #ddeff8;
    --light-blue3: #eef7fb;

    --pink1: #f092cd;
    --pink2: #fadef0;
    --pink3: #fdeff8;

    --yellow1: #f9e11e;
    --yellow2: #fdf6bb;
    --yellow3: #fefbdd;

    --dark-yellow1: #ffb612;
    --dark-yellow2: #ffe9b7;
    --dark-yellow3: #fff4dc;

    --mint-green1: #76d2b6;
    --mint-green2: #d6f1e9;
    --mint-green3: #ebf8f4;

    --orange1: #e17000;
    --orange2: #f6d4b2;
    --orange3: #fbead9;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100vw;
    height: 7rem;
    position: sticky;
    top: 0;
    z-index: 10;

    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}

nav{
    max-width: 1400px;
    margin: 0 auto 0 auto;
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.main-logo{
    height: 100%;
}

.nav-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}








main{
    max-width: 100vw;
}

.splash-container{
    width: 100vw;
    height: 40vh;

    background-image: url(../assets/imgs/outsource-telemarketing-services.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.splash-text-container{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.splash-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash-text > h1{
    font-size: 3rem;
}

.splash-text > h2{
    font-size: 2rem;
    margin-top: 1rem;
}



.help{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 3rem 0;
}

.help-title{
    grid-column: 1 / 5;
    margin-bottom: 2rem;
}

.grid-div{
    width: 100%;
    height: 100%;
}

.grid-div:hover{
    cursor: pointer;
}

.grid-div > h1{
    font-weight: 300;
    color: var(--primary-color);
}

.grid-div > p{
    font-weight: 200;
    margin-top: 0.25rem;
}














article{
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

footer{
    max-width: 100vw;
    height: 100px;

    background-color: var(--primary-color);
}