#carousel-container{
    grid-column: 1 / 9;
    position: relative;
    width: 100%;
    max-width: calc(1400px - 2rem);
    margin: 0 auto;
}

.carousel{
    position: relative;
    aspect-ratio: 1792 / 1280;
    width: 104%;
    left: -2%;

    z-index: 1;
}

.carousel > ul{
    inset: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
}

.slide[data-active]{
    opacity: 1;
    pointer-events: all;
}

.slide img{
    aspect-ratio: 1792 / 1280;
}

.carousel-button{
    position: absolute;
    background: none;
    border: none;

    width: 30%;
    height: 100%;
    padding: 0;

    z-index: 2;
}

.carousel-button.prev{
    left: 0;
    cursor: url(../../../assets/cursors/left-cursor.svg) 32 32, pointer;
}

.carousel-button.next{
    right: 0;
    cursor: url(../../../assets/cursors/right-cursor.svg) 32 32, pointer;
}

#carousel-container h2{
    margin-top: -1rem;
}









.work-div:nth-child(n){
    aspect-ratio: 1280 / 1920;
}



.work-div:nth-child(4){
    grid-column: 1 / 3;
}

.work-div:nth-child(5){
    grid-column: 3 / 6;
}

.work-div:nth-child(6){
    grid-column: 7 / 8;
    margin-top: 5%;
}



.work-div:nth-child(7){
    grid-column: 2;
    margin-top: 5%;
}

.work-div:nth-child(8){
    grid-column: 4 / 7;
}

.work-div:nth-child(9){
    grid-column: 7 / 9;
}



.work-div:nth-child(10){
    grid-column: 1 / 4;
}

.work-div:nth-child(11){
    grid-column: 5 / 7;
}

.work-div:nth-child(12){
    grid-column: 8;
    margin: auto 0 5% 0;
}



.work-div:nth-child(13){
    grid-column: 3 / 5;
}

.work-div:nth-child(14){
    grid-column: 6 / 9;
}



.work-div:nth-child(15){
    grid-column: 2 / 5;
}

.work-div:nth-child(16){
    grid-column: 5 / 7;
}