/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
video{
    width: 100%;
}

.centroid{
    grid-column: 1 / 9;
    display: flex;
    justify-content: center;
}

.content-container{
    width: 100%;
    max-width: calc(var(--in-width) - 2rem);
}

.img-container{
    width: 100%;
    aspect-ratio: 1440 / 810;
    display: flex;
    justify-content: center;

    & img{
        height: 100%;
        width: auto;
    }
}



.work-div{
    &:nth-of-type(even) .blur-img{
        aspect-ratio: 1440 / 810;
    }

    &:nth-of-type(odd) .blur-img{
        aspect-ratio: 720 / 810;
    }
}









.interaction-container{
    display: flex;
    justify-content: space-between;
}

.radio-button{
    & label {
        display: inline-block;
        cursor: pointer;
    }

    & input[type="radio"] {
        display: none;
    }

    & input[type="radio"]:checked+label {
        background-color: var(--green);
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (max-width: 685px) {
    .interaction-container{
        flex-direction: column;
    }
}