video{
    width: 100%;
}

.centroid{
    grid-column: 1 / 9;
    display: flex;
    justify-content: center;
}

.content-container{
    width: 100%;
    max-width: calc(var(--in-width) - 2rem);
}

.img-container{
    width: 100%;
    aspect-ratio: 1440 / 810;
    display: flex;
    justify-content: center;
}

.img-container img{
    height: 100%;
    width: auto;
}



.work-div:nth-child(odd) .blur-img{
    aspect-ratio: 1440 / 810;
}

.work-div:nth-child(even) .blur-img{
    aspect-ratio: 720 / 810;
}









.interaction-container{
    display: flex;
    justify-content: space-between;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    display: inline-block;
    cursor: pointer;
}

.radio-button input[type="radio"]:checked+label {
    background-color: var(--green);
}









@media (max-width: 685px) {
    .interaction-container{
        flex-direction: column;
    }
}