/* CONTENT  --------------------------------------------------------------------------------------------------------------------- */
article{
    row-gap: 0;
    grid-template-rows: auto;
}



.work-div-left{
    grid-column: 1 / 5;
    z-index: 1;

    & h2 + p{
        margin-top: 0;
    }
}

.work-div-right{
    padding-top: 3rem;
    grid-column: 5 / 9;
    grid-row: 1 / 6;

    z-index: 1;

    & p{
        font-weight: 600;
        font-size: 2rem;
        margin-top: 0;
        line-height: 2rem;
        text-transform: uppercase;
    }

    & p:nth-of-type(n + 2){
        margin-top: 1rem;
    }

    & p:nth-of-type(2){
        text-indent: -1rem;
    }
}









/* TYPE ------------------------------------------------------------------------------------------------------------------------- */
.classic-width{
    max-width: calc(60ch + ((100vw - var(--in-width)) / 2));
}

.first-indent{
    text-indent: calc((100vw - var(--in-width)) / 2);
}

.full-indent{
    padding-left: calc((100vw - var(--in-width)) / 2);
}

.full-width{
    max-width: 100%;
}









#legibility-btn{
    position: fixed;

    top: auto;
    right: calc(((100vw - var(--in-width)) / 2) + 1rem);
    bottom: 3rem;
    left: auto;

    padding: 1rem 1.2rem;

    background-color: white;
    box-shadow: var(--shadow);

    z-index: 1;

    &:hover{
        background-color: var(--green);
        cursor: pointer;
    }

    & h3{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.75px;
    
        margin: 0;
        pointer-events: all;
    }
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (width >= 2560px) {
    .classic-width{
        max-width: calc(60ch + ((var(--mid-width) - var(--in-width)) / 2));
    }
    
    .first-indent{
        text-indent: calc((var(--mid-width) - var(--in-width)) / 2);
    }
    
    .full-indent{
        padding-left: calc((var(--mid-width) - var(--in-width)) / 2);
    }
    
    .full-width{
        max-width: 100%;
    }
}

@media (width <= 1400px) {
    .classic-width{
        max-width: 60ch;
    }

    .first-indent{
        text-indent: 0;
    }

    #legibility-btn{
        right: 1rem;
    }
}



@media (width <= 685px) {
    .leftoid{
        grid-column: auto;
        grid-row: 1;
    }

    .work-div-right{
        grid-column: auto;
        grid-row: 2;
        padding-top: 0.5rem;
        
        &:nth-of-type(2){
            grid-column: auto;
            grid-row: 3;
        }

        &:nth-of-type(3){
            grid-column: auto;
            grid-row: 4;
        }

        & p{
            font-weight: 300;
            font-size: 0.8rem;
            line-height: 1.1rem;
            text-transform: none;
        }

        & p:nth-of-type(n + 2){
            margin-top: 0.5rem;
        }
    
        & p:nth-of-type(2){
            text-indent: -0.33rem;
        }
    }

    .work-div-left p{
        max-width: 60ch;
    }
}



@media (width <= 518px) {
    #legibility-btn{
        max-width: calc(50vw - 2.5rem);

        & h3{
            font-weight: 300;
            font-size: 0.8rem;
            line-height: 1.1rem;
            text-transform: none;
        }
    }
}