article{
    row-gap: 0;
    grid-template-rows: auto 1fr;
}

.title {
    background-color: var(--green);
}

.mid-width{
    max-width: 100%;
    margin-right: 0;
}



.work-div-left{
    grid-column: 1 / 5;
    z-index: 1;
}

.work-div-left p:nth-child(1){
    padding-left: calc(calc(100vw - 1400px) / 2);
    max-width: calc(60ch + calc(calc(100vw - 1400px) / 2));
}

.work-div-left p:nth-child(2){
    padding-left: calc(calc(100vw - 1400px) / 2);
    max-width: 100%;
}

.work-div-left p:nth-child(3){
    text-indent: calc(calc(100vw - 1400px) / 2);
    max-width: 100%;
}



.work-div-right{
    padding-top: 3rem;
    grid-column: 5 / 9;
    grid-row: 1 / 3;

    z-index: 1;
}

.work-div-right p{
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0;
    line-height: 2rem;
    text-transform: uppercase;
}

.work-div-right p:nth-child(n + 2){
    margin-top: 1rem;
}

.hang-punctuation-large{
    text-indent: -1rem;
}









/* Media Queries    ------------------------------------------------------------------------------------------------------------- */
@media (min-width: calc(1400px)) {
    .wwork-div-left p:nth-child(n + 1){
        margin-top: 0.5rem;
    }
}

@media (max-width: calc(1400px)) {
    .work-div-left h2{
        padding-left: 0;
    }

    .work-div-left p:nth-child(1){
        max-width: 60ch;
    }

    .work-div-left p:nth-child(n){
        text-indent: 0;
        padding-left: 0;
    }
}

@media (max-width: 685px) {
    .work-div-right{
        display: none;
    }
}